<nav class="navbar navbar-expand-md bg-primary navbar-dark">
  <div class="container">
    <a class="navbar-brand" href="#">Brand</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
      </ul>
      {{rtl}}
      <ul class="navbar-nav" [ngClass]="{'ml-auto':!rtl, 'mr-auto': rtl}">
        <li *ngIf="!isLoadingOrgUser && !currentOrgUser && isAuthenticated" class="nav-item">
          <a class="nav-link" (click)="join()">Join</a>
        </li>

        <li *ngIf="currentOrgUser &&  currentOrgUser?.roles?.admin && isAuthenticated" class="nav-item">
          <a class="nav-link" (click)="gotoAdmin()">Admin</a>
        </li>

        <li *ngIf="isAuthenticated" class="nav-item">
          <a class="nav-link" (click)="logout()">Logout</a>
        </li>

        <li *ngIf="!isAuthenticated" class="nav-item">
          <a class="nav-link" (click)="login()">Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
