<nav class="navbar  navbar-expand bg-primary navbar-dark">


  <a class="navbar-brand"><img id="orgLogo" [src]="logoUrl"> {{orgName}}</a>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <!-- Right nav bar -->
    <ul class="navbar-nav" [ngClass]="{'ml-auto':!rtl, 'mr-auto': rtl}">
      <li *ngIf="!isLoadingOrgUser && !currentOrgUser && isAuthenticated" class="nav-item">
        <a class="nav-link" (click)="join()">Join</a>
      </li>


      <!-- Admin drop down-->
      <div class="btn-group" dropdown *ngIf="currentOrgUser &&  currentOrgUser?.roles?.admin && currentAuthUser">
        <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
          <i class="fa fa-gear"></i> <span class="caret"></span>
        </button>
        <div *ngIf="!rtl">
          <ul  *dropdownMenu class="dropdown-menu dropdown-menu-right"  role="menu">
            <li role="menuitem" [routerLink]="'admin-org'"><a class="dropdown-item">Organization settings</a></li>
            <li role="menuitem" [routerLink]="'admin-users'"><a class="dropdown-item">Users</a></li>
          </ul>
        </div>

        <div *ngIf="rtl">
          <ul  *dropdownMenu class="dropdown-menu dropdown-menu-left"  role="menu">
            <li role="menuitem" [routerLink]="'admin-org'"><a class="dropdown-item">Organization settings</a></li>
            <li role="menuitem" [routerLink]="'admin-users'"><a class="dropdown-item">Users</a></li>
          </ul>
        </div>
      </div>

      <!-- User drop down-->
     <sk-nav-user [logoutRoute]="'org/' + currentOrg"></sk-nav-user>

      <!-- login -->
      <li *ngIf="!currentAuthUser" class="nav-item">
        <a class="nav-link" (click)="login()">Login</a>
      </li>
      <li class="nav-item" *ngIf="!currentAuthUser" (click)="signup()">
        <a class="nav-link"> Sign up</a>
      </li>

    </ul>
  </div>
</nav>
