#userImg {
  width:30px;
  height: 30px;
}

.orgLogo {
  height: 30px;
  width: auto;
}

.fill-remaining-space {

  flex: 1 1 auto;
}

.org-navbar {
  background-color: #00388F;
  color: #FFFFFF;
  font-size: 40pt;
}

.org-name {
  color: #FFFFFF;
  font-size: 15pt;
}

.nav-button {
  height: 40pt;
}

::ng-deep .mat-menu-content{
  background-color: #F5F5F5;
}

::ng-deep .mat-menu-item{
  font-size: 14px;
}


