<div class="user-row row border align-items-center" [ngClass]="{'oddRow': index %2 === 0}">
    <div class="col-1"><img id="user-img" class="rounded-circle img-fluid" [lazyLoad]="user.photoURL" alt=""></div>
  <div class="col-2 ">{{user.displayName}}</div>


  <div class="col">
    <button *ngIf="user.isPending" (click)="isPendingSave()" class="btn btn-sm btn-default">
      <i class="fa fa-2x fa-check-circle"></i></button>
    <button *ngIf="!user.isPending" (click)="isPendingSave()" class="btn btn-sm btn-default"><i
      class="fa fa-2x fa-circle-thin"></i></button>
  </div>

  <div class="col">
    <button *ngIf="user.roles.admin" [disabled]="user?.uid === currentSkUser?.uid" (click)="adminSave()"
            class="btn btn-sm btn-default"><i
      class="fa fa-2x fa-check-circle"></i></button>
    <button *ngIf="!user.roles.admin" [disabled]="user?.uid === currentSkUser?.uid" (click)="adminSave()"
            class="btn btn-sm btn-default"><i
      class="fa fa-2x fa-circle-thin"></i></button>
  </div>
  <div class="col">
    <button *ngIf="user.roles.editor" (click)="editorSave()" class="btn btn-sm btn-default"><i
      class="fa fa-2x fa-check-circle"></i></button>
    <button *ngIf="!user.roles.editor" (click)="editorSave()" class="btn btn-sm btn-default"><i
      class="fa fa-2x fa-circle-thin"></i></button>
  </div>
  <div class="col">
    <button *ngIf="user.roles.viewer" (click)="viewerSave()" class="btn btn-sm btn-default"><i
      class="fa fa-2x fa-check-circle"></i></button>
    <button *ngIf="!user.roles.viewer" (click)="viewerSave()" class="btn btn-sm btn-default"><i
      class="fa fa-2x fa-circle-thin"></i></button>
  </div>
  <div class="col">
    <button #cancel class="btn btn-danger btn-sm" [hidden]="user?.uid === currentSkUser?.uid"
            (click)="delete(template)"><i class="fa fa-trash"></i></button>
  </div>
</div>


<!-- modal to confirm user delietion-->
<ng-template #template>
  <div class="modal-body text-center">

    <p>Do you want to delete the user <strong>{{user.displayName}}</strong>?</p>

    <button type="button" class="btn btn-outline-danger" (click)="confirm()">Yes</button>
    <button type="button" class="btn btn-outline-primary" (click)="decline()">No</button>
  </div>
</ng-template>












