//@import 'src/app/core/scss/shake';
.wrap {
  margin: 0;
}

.bannerImage {
  width: 100%;
  //margin-bottom: 20px;
}

.mat-content-rtl {
  margin-left:0!important;
  margin-right: 320px!important;
}

.mat-content-ltr {
  margin-left:320px!important;
  margin-right: 0px!important;
}

#container {
  height: 100%;
}

.add-doc-button-rtl{
  background-color: white;
  color: black;
  position: absolute;
  top: 12px;
  left: 12px;
  padding: 0;
  z-index: 99;
}

.add-doc-button{
  background-color: white;
  color: black;
  position: absolute;
  top: 12px;
  right: 12px;
  padding: 0;
  z-index: 99;
}

