<div id="wrapper" fxLayout="column">
  <img  class="bannerImage" [src]="org?.bannerUrl">
  <mat-sidenav-container fxFlex="100 0 auto">

    <!-- SIDENAV -->
    <mat-sidenav #sidenav align="start" [opened]="sideOpen" [mode]="sideMode" class="wrap mat-elevation-z12">
      <sk-org-tree-view [allowEdit]="'true'" (selectedDoc)="treeDocClicked($event)"></sk-org-tree-view>
    </mat-sidenav>

    <mat-sidenav-content [ngClass]="{'mat-content-rtl': rtl && sideOpen, 'mat-content-ltr': !rtl && sideOpen}">


      <button *ngIf="currentOrgUser?.roles.editor" mat-fab class="btn-hover-accent"
              matTooltip="{{'New Document' | translate}}" matTooltipPosition="above"
              [ngClass]="{'add-doc-button': !rtl, 'add-doc-button-rtl': rtl}" (click)="newDoc()">
        <mat-icon>playlist_add</mat-icon>
      </button>
      <button *ngIf="currentOrgUser?.roles.editor" mat-fab class="btn-hover-accent"
              matTooltip="{{'Import Word Document' | translate}}" matTooltipPosition="above"
              [ngClass]="{'add-word-button': !rtl, 'add-word-button-rtl': rtl}" (click)="FileSelect.click()">
        <i class="fa fa-file-word-o fa-2x"></i>
      </button>
      <input hidden type="file" #FileSelect (change)="getWordDoc($event)">

      <mat-tab-group [selectedIndex]="selectedTab" style="margin-left: 20px; margin-right: 20px">

        <!-- Serach docs Tab -->
        <mat-tab label="{{'Search' | translate}}">
          <!-- HEADER -->
          <div>
            <div fxLayout="row" fxLayoutAlign="start center">
              <button mat-button fxHide.gt-sm (click)="sidenav.toggle()"
                      matTooltip="{{'Documents Tree' | translate}}" matTooltipPosition="after">
                <mat-icon>menu</mat-icon>
              </button>
              <h3 [innerHTML]="'Search' | translate"></h3>
            </div>
          </div>
          <sk-org-search-doc></sk-org-search-doc>
        </mat-tab>

        <!-- Messages Tab -->
        <mat-tab label="{{'Messages' | translate}}">
          <!-- HEADER -->
          <div>
            <div fxLayout="row" fxLayoutAlign="start center">
              <button mat-button fxHide.gt-sm (click)="sidenav.toggle()"
                      matTooltip="{{'Documents Tree' | translate}}" matTooltipPosition="after">
                <mat-icon>menu</mat-icon>
              </button>
              <h3 [innerHTML]="'Messages' | translate"></h3>
            </div>
          </div>
          <sk-org-messages></sk-org-messages>
        </mat-tab>

      </mat-tab-group>

    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

