.readAcks-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
}

.readAcks-table {
  overflow: auto;
  max-height: 250px;
}

.table-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

button {
  width: 100px;
}

