@import "../../../app/core/scss/shake";
.mat-card-title {

  background-color: $sk-bar-color;
  color: white;
  text-align: center;
  padding: 20px;
}

.wrapper {
  padding: 0 24px 24px 24px;


}

#actions {
  margin: 0 auto;
}

.mat-card {
  margin: 50px auto;
  padding: 0 ;
  max-width: 500px;
}
