.orgs-container {
  display: flex;
  flex-direction: column;
  //max-height: 500px;
  min-width: 300px;
}

.orgs-table {
  overflow: auto;
  max-height: 100%;
  //max-height: 500px;
}


.org-img {
  height: auto;
  width: 36px;

}

.table-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

