.card {
  width: 80%;
  margin: 10% auto;
  background-color: white;
}

.wrapper {
  position: relative;
  margin: 1% auto;
  max-width: 500px;
}

.msg-to-user {
  position: relative;
  margin: 50px auto;
  max-width: 500px;
  text-align: center;
}

h3 {
  margin-bottom: 30px;
}

#logo {
  position: relative;
  width: 50%;
  left: 25%;
}

.fill-remaining-space {

  flex: 1 1 auto;
}
