service cloud.firestore {


// Check if the request is authenticated
function isAuthenticated() {
  return request.auth != null;
}

  match /databases/{database}/documents {
  // admin functions
    function isSKAdmin() {
  		return exists(/databases/$(database)/documents/skAdmins/$(request.auth.uid)) ;
		}

		// THE FULL DATABASE
    match /{document=**} {
      allow read: if isSKAdminAdmin();
      allow write: if isSKAdminAdmin();
      }

      function isSKAdminAdmin() {
      return get(/databases/$(database)/documents/skAdmins/$(request.auth.uid)).isSkAdmin == true ||
            get(/databases/$(database)/documents/skAdmins/$(request.auth.uid)).data.isSkAdmin == true ;
      }

      function isSKAdminEditor() {
          return get(/databases/$(database)/documents/skAdmins/$(request.auth.uid)).isSkEditor == true ||
                  get(/databases/$(database)/documents/skAdmins/$(request.auth.uid)).data.isSkEditor == true ;
      }

      //skAdmins
			match /skAdmins/{admin=**} {
      	allow read: if true;
        allow write: if isSKAdminAdmin() ;
      }

		//Data Packages
			match /dataPackages/{datapackage=**} {
      	allow read: if true;
        allow write: if isSKAdminEditor();
      }

    	//OrgRequested
			match /orgRequested/{id=**} {
      	allow read: if true;
        allow write: if true;
      }

		//users
			match /users/{userId=**} {

      	allow read: if true;
        allow write: if userId == request.auth.uid;
      }

    // ORG
    match /org {

      match /{orgId}{

          function isOrgExists(org) {
    					return  exists(/databases/$(database)/documents/org/$(org)/publicData/info)
    			}

          function getRole(role) {
        		return get(/databases/$(database)/documents/org/$(orgId)/users/$(request.auth.uid)).data.roles[role] == true ||
        		       get(/databases/$(database)/documents/org/$(orgId)/users/$(request.auth.uid)).roles[role] == true ;
    			}

      		allow read: if getRole('admin') || getRole('editor') || getRole('viewer');
   				allow write: if getRole('admin') || getRole('editor') ;

          match /publicData/{allPublicData=**}{
          		allow read: if true ;
              allow write: if getRole('admin');
          }

          match /docsAcks/{docAck=**}{
          		allow read: if getRole('admin') || getRole('editor') || getRole('viewer');
              allow write: if getRole('editor') ;
          }

          match /userSignatures/{signature=**}{
          		allow read: if getRole('admin') || getRole('editor') || getRole('viewer');
              allow write: if getRole('admin') || getRole('editor') || getRole('viewer');
          }

          match /users/{user=**} {
          		allow read : if true;
              allow write : if  isOrgExists(orgId)
              							&& (request.resource.data.roles.keys().hasAny(['admin', 'editor', 'viewer']) == false || getRole('admin'));
          }

          match /docs/{docs=**} {
            allow read : if getRole('admin') || getRole('editor') || getRole('viewer');
            allow write : if getRole('editor') ;
          }

          match /invites/{invite=**}{
          		allow read : if true ;
              allow write: if getRole('admin') ;
          }
  		}
    }
	}
}
