service cloud.firestore {


// Check if the request is authenticated
function isAuthenticated() {
  return request.auth != null;
}

  match /databases/{database}/documents {
  // admin functions
    function isSKAdmin() {
  		return exists(/databases/$(database)/documents/sk-admins/$(request.auth.uid)) ;
		}



    function isOrgExists(org) {
    		return  exists(/databases/$(database)/documents/org/$(org)/publicData/info)
    }

    function getRole(role,org) {
        return get(/databases/$(database)/documents/org/$(org)/users/$(request.auth.uid)).data.roles[role] == true ||
        get(/databases/$(database)/documents/org/$(org)/users/$(request.auth.uid)).roles[role] == true
    }
		// THE FULL DATABASE
    match /{document=**} {
      // allow read, write : if false;//isSKAdmin() ;
      allow read, write : if true ;

    }
		//OrgRequested
			match /orgRequested/{id=**} {
      	allow read: if true;
        allow write: if true;
      }
    // ORG
    match /org {

      match /{orgId}{

      		allow read : if true;
   				allow write : if getRole('admin')  ;

          match /publicData/{allPublicData=**}{
          		allow read : if true  ;
              allow write: if getRole('admin');
          }

          match /users/{user=**} {
          		allow read : if true;
              allow write : if isOrgExists(orgId)
              							&& (request.resource.data.roles.keys().hasAny(['admin', 'editor', 'viewer']) == false || getRole('admin', orgId) );
          }

          match /documents/{docs=**} {
            // allow read : if isOrgViewer(orgId) || isOrgCreator(orgId) || isOrgAdmin(orgId)
            allow read : if getRole('admin') || getRole('editor') || getRole('viewer');
          }
  		}
    }
	}

}
