
<div id="full-page">

</div>
<div class="wrapper">
  <div class="d-flex justify-content-center">
    <img src="assets/img/shake-logo.png" id="logo" [routerLink]="['/home']">
  </div>

  <form [formGroup]="loginForm" (ngSubmit)="signup()">
    <div class="form-header p-0">
      <h1 [innerHTML]="'Register to Shake' | translate"></h1>
    </div>
    <div class="form-body">

      <div class="form-group">
        <label for="displayName"
               [innerHTML]="'Display Name' | translate"></label>
        <input class="form-control" id="displayName" type="displayName"
               formControlName="displayName">

        <div *ngIf="displayName.invalid && displayName.dirty" class="error-message"
             [innerHTML]="'Dispaly name can not by empty' | translate" >
        </div>
      </div>

      <div class="form-group">
        <label for="email" [innerHTML]="'Email' | translate"></label>
        <input class="form-control" id="email" type="email"
               formControlName="email">

        <div *ngIf="email.invalid && email.dirty"
             [innerHTML]="'Please enter a valid email' | translate">

        </div>
      </div>
      <div class="form-group">
        <label for="password"
               [innerHTML]="'Password' | translate"
        ></label>


        <input class="form-control" type="password" id="password"
               formControlName="password" required>

        <div *ngIf="password.invalid && password.touched"
             [innerHTML]="'Password must be between 6 and 24 chars and have at least one number' | translate">
        </div>
      </div>

      <input class="form-control" type="password" id="password2"
             formControlName="password2" required>

      <div *ngIf="password2.invalid && password2.touched"
           [innerHTML]="'Password must be between 6 and 24 chars and have at least one number' | translate">
      </div>
    </div>

      <button class="btn btn-success btn-block" type="submit" [disabled]="!loginForm.valid"
              [innerHTML]="'Register' | translate"></button>
    </div>
  </form>

  <div class="form-body text-center" >
    <span [innerHTML]="'Already Shake user?' | translate"></span>
    <a (click)="gotoLogin()"
       [innerHTML]="'Go to Login' | translate"
    ></a>
  </div>

  <div class="flags d-flex justify-content-center">
    <img src="assets/img/il.png" (click)="setLng('he')">
    <img src="assets/img/us.png" (click)="setLng('en')">
  </div>

</div>
