

<div class="wrapper">

  <img src="../../../assets/img/shake-logo.png" id="logo">
  <form [formGroup]="loginForm" (ngSubmit)="signup()">

    <h3>Register to Shake</h3>

    <div class="form-group">
      <label for="displayName">Display Name</label>
      <input class="form-control" id="displayName" type="displayName"
             formControlName="displayName">

      <div *ngIf="displayName.invalid && displayName.dirty" class="error-message">
        Dispaly name can't by empty
      </div>
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input class="form-control" id="email" type="email"
             formControlName="email">

      <div *ngIf="email.invalid && email.dirty" class="error-message">
        Your email doesn't look quite right...
      </div>
    </div>

    <div class="form-group">

      <label for="password">Password</label>
      <input class="form-control" type="password" id="password"
             formControlName="password" required>

      <div *ngIf="password.invalid && password.touched" class="error-message">
        Password must be between 6 and 24 chars and have at least one number
      </div>
    </div>


    <button class="btn btn-success" type="submit" [disabled]="!loginForm.valid">Register</button>
    <a  (click)="gotoLogin()">Login page</a>

  </form>

</div>

