<div>
  <input type="radio" name="searchType" value="names only" checked #namesOnly> Names Only
  <input type="radio" name="searchType" value="names & text" #namesAndText> Names & Text
</div>
<div>
  <input type="checkbox" name="edited" value="edited" #edited>docs in Edit
</div>
<div>
  <input type="checkbox" name="published" value="published" checked #published>published docs
</div>
<div>
  <input type="checkbox" name="versions" value="versions" #versions>older versions
</div>
<div>
  <input id="searchBox" #searchBox>
  <button (click)="searchClicked(searchBox.value, namesOnly.checked, edited.checked, published.checked, versions.checked)">Search</button>
</div>
<br>
<br>
<div>
  <h4>Perliminary Tree</h4>
</div>
<div *ngFor="let doc of orgDocs$ | async"
     (click)="docSelected(doc)">
  {{doc.name}}
</div>
