@import "../../../../../app/core/scss/shake";
.mat-dialog-title {

  background-color: $sk-bar-color;
  color: white;
  text-align: center;
}

.wrapper {
  padding: 0 24px;
}

.actions {
  margin: 20px;
}
::ng-deep .mat-dialog-container {
  margin: 0;
  padding: 0 ;
}



