<div class="wrap" >
  <tree-root #tree [nodes]="nodes" [options]="tree_options" (moveNode)="onMoveNode($event)" (copyNode)="onCopyNode($event)">
    <ng-template #treeNodeTemplate let-node let-index="index">
      <div (click)="treeClicked($event, node)"  (contextmenu)="treeRightClick($event, node)" fxLayout="row">
        <div *ngIf="treeNode === node" #itemTreeTrigger="matMenuTrigger" [matMenuTriggerFor]="treeMenu" skSetDirection [dir]="isRTL ? 'rtl' : 'ltr'"></div>
        <span *ngIf="node.data.isDoc" fxFlex="20px"><i [ngClass]="{'publishDoc': node.data.isPublish}" class="fa fa-file-text"></i></span>
        <span *ngIf="!node.data.isDoc && node.isExpanded" fxFlex="20px"><i class="fa fa-folder-open-o"></i></span>
        <span *ngIf="!node.data.isDoc && !node.isExpanded" fxFlex="20px"><i class="fa fa-folder-o"></i></span>

        <span *ngIf="node.data.isDoc" fxFlex="calc(100% - 20px">{{node.data.name}}</span>
        <span *ngIf="!node.data.isDoc" fxFlex="calc(100% - 20px">{{node.data.name}}</span>
      </div>
    </ng-template>

  </tree-root>
</div>


<!-- Menu -->


<mat-menu #treeMenu="matMenu">

  <button *ngIf="treeNode?.children" mat-menu-item (click)="expandAll()">
    <mat-icon>expand_more</mat-icon>
    {{'Expand all' | translate}}
  </button>

  <button *ngIf="treeNode?.children" mat-menu-item (click)="collapseAll()">
    <mat-icon>expand_less</mat-icon>
    {{'Collapse all' | translate}}
  </button>

  <button  *ngIf="treeNode?.data.isDoc && treeNode?.data.isPublish && currentOrgUser.roles.editor" mat-menu-item (click)="unPublishDoc()">
    <mat-icon>file_download</mat-icon>
    {{'Un-publish' | translate}}
  </button>

  <button  *ngIf="treeNode?.data.isDoc && !treeNode?.data.isPublish && currentOrgUser.roles.editor" mat-menu-item (click)="publishDoc()">
    <mat-icon>file_upload</mat-icon>
    {{'Publish' | translate}}
  </button>

  <!--<button *ngIf="treeNode?.children && currentOrgUser.roles.editor" mat-menu-item (click)="addChildItem(treeNode , true)"><mat-icon>create_new_folder</mat-icon>Add Section</button>-->

  <button *ngIf="treeNode?.children && currentOrgUser.roles.editor" mat-menu-item (click)="renameSection(treeNode , true)">
    <mat-icon>shuffle</mat-icon>
    {{'Rename' | translate}}
  </button>

  <button *ngIf="((treeNode?.parent.parent && treeNode?.children) || (treeNode?.children && treeNode?.parent.children.length > 1) || treeNode?.data.isDoc)  && currentOrgUser.roles.editor" mat-menu-item (click)="deleteItem(treeNode)">
    <mat-icon>delete</mat-icon>
    {{'Delete' | translate}}
  </button>

  <button *ngIf="treeNode?.data.isDoc && currentOrgUser.roles.editor" mat-menu-item (click)="removeDocFromTree(treeNode)">
    <mat-icon>clear</mat-icon>
    {{'Remove' | translate}}
  </button>

  <button *ngIf="treeNode?.children && currentOrgUser.roles.editor" mat-menu-item [matMenuTriggerFor]="sectionSatMenu">
    <mat-icon>create_new_folder</mat-icon>
    {{'Insert Folder' | translate}}
  </button>
</mat-menu>

<mat-menu #itemSatMenu="matMenu" >
  <button mat-menu-item (click)="addBrotherItem( treeNode, true)">Add above</button>
  <button mat-menu-item (click)="addBrotherItem( treeNode)">Add below</button>
</mat-menu>


<mat-menu #sectionSatMenu="matMenu" >
  <button mat-menu-item (click)="addBrotherItem( treeNode, true)">
    {{'Above' | translate}}
  </button>
  <button *ngIf="treeNode?.children && currentOrgUser.roles.editor" mat-menu-item (click)="addChildItem(treeNode , true)">
    {{'Child' | translate}}
  </button>
  <button mat-menu-item (click)="addBrotherItem( treeNode)">
    {{'Below' | translate}}
  </button>
</mat-menu>
