<div [ngClass]="'section-bar-small'" [ngClass.gt-xs]="'section-bar-big'" fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign="start center" fxLayoutGap="10px">

  <div [ngClass.xs]="'header-section-small'" fxLayout="row" fxLayoutAlign="start center">
    <button mat-button class="topbar-button mat-icon-button"
            [disabled]="currentTask + 1 >= sectionList.length"
            (click)="nextSection()">
      <mat-icon>file_download</mat-icon>
    </button>
    <p class="topbar-p"> {{'Section' | translate}} {{currentTask+1}} {{'of' | translate}} {{sectionList.length}}</p>
    <button mat-button class="topbar-button mat-icon-button"
            [disabled]="currentTask <= 0"
            (click)="previousSection()">
      <mat-icon>file_upload</mat-icon>
    </button>

  </div>

  <div [ngClass.xs]="'header-section-small'" fxLayout="row" fxLayoutAlign="start center">
    <!-- SEARCH BUTTON -->
    <button mat-button class="topbar-button rightside-buttons mat-icon-button" (click)="toggleSearch()"
            matTooltip="{{'Search' | translate}}" matTooltipPosition="after">
      <mat-icon>search</mat-icon>
    </button>

    <!-- SEARCH input -->
    <input *ngIf="isSearch " (keyup)="ngOnChanges()" [(ngModel)]="searchPhrase">

    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px" *ngIf="isSearch && searchPhrase !== ''">
      <button mat-button class="topbar-button mat-icon-button"
              [disabled]="searchSectionArray.length === 0 || currentTask >= searchSectionArray[searchSectionArray.length - 1]"
              (click)="nextSearchSection()">
        <mat-icon>file_download</mat-icon>
      </button>

      <!--<p class="topbar-p">{{currentSearchSectionIndex+1}}/{{searchSectionArray.length}}</p>-->

      <button mat-button class="topbar-button mat-icon-button"
              [disabled]="searchSectionArray.length === 0 || currentTask <= searchSectionArray[0]"
              (click)="previousSearchSection()">
        <mat-icon>file_upload</mat-icon>
      </button>

    </div>
  </div>


</div>

<div *ngIf="docJson" id="doc-wrapper" class="mat-elevation-z8" [ngClass]="{'set-rtl': isRTL}">
  <div *ngFor="let item of viewSection">
    <div fxLayout [ngClass]="{
       'item-warning': item.type === 1,
       'section' : item.nodes,
       'section-rtl' : item.nodes && isRTL,
       'item' : !item.nodes}"
         [ngStyle]="{'margin-right': ((item.level - 1) < 0 ? 0 : (item.level - 1)) * ident + 'px' }">
      <div *ngIf="item.numbering && isNumbering"
           [innerHTML]="'<p>' + item.numbering + ' &nbsp; </p>'"></div>
      <div [innerHTML]="item.data | safeHtml">

      </div>
    </div>
  </div>

</div>



