::ng-deep p {
  margin: 0;
  padding: 0;
}

#doc-wrapper {
  height: calc(100vh - 140px);
  overflow-y: scroll;
  //max-height: 80vh;
  max-width: 700px;
  margin: 20px auto;
  direction: ltr;       // to enable hebrew support for drawer!
}

#doc-map {
  padding: 10px;
  max-width: 200px;
}

#doc-view {
  padding: 10px;
  //height: 500px;
  overflow: scroll;
}

.set-rtl {
  text-align: right;
  direction: rtl;
}

.rtl-drawer {
  right: 0!important;
  left:auto!important;
}
.section {
  font-size: 18px;
  font-weight: bold;
}

.section-rtl {

}

.item {
  font-size: 14px;
  padding: 2px 5px;
}

.item-warning {
  background-color: #ffc7b5;
  border-right: 8px solid red;

}

.topbar-button {
  color: white;
}

.topbar-p{
  color:white;
}

#doc-name {
  color: white;
  margin: 0 20px;
}

.section-bar-small {
  min-height:40px;
  background-color: #176b89;
}

.section-bar-big {
  height:40px;
  min-height: 40px;
  max-height: 40px;
  background-color: #176b89;
}

.header-section-small {
  width: 100%;;
  height: 40px;
  min-height: 40px;
  max-height: 40px;
}
#searchbar {
  height:40px;
  background-color: #1e80e6;
}

#search-phrase {
  color: white;
  margin: 0 20px;
}
