<div id="topbar" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
  <button mat-button class="topbar-button mat-icon-button" (click)="nextTask()">
    <mat-icon>file_download</mat-icon>
  </button>
  <p class="topbar-p">{{currentTask+1}}/{{taskList.length}}</p>
  <button mat-button class="topbar-button mat-icon-button"  (click)="previousTask()">
    <mat-icon>file_upload</mat-icon>
  </button>

  <p id="doc-name" [innerHTML]="docName"></p>

</div>

<div *ngIf="docJson" id="doc-wrapper" class="mat-elevation-z8" [ngClass]="{'set-rtl': isRTL}">
  <div *ngFor="let item of viewTask">
    <div fxLayout [ngClass]="{
       'item-warning': item.type === 1,
       'section' : item.nodes,
       'section-rtl' : item.nodes && isRTL,
       'item' : !item.nodes}"
         [ngStyle]="{'margin-right': ((item.level - 1) < 0 ? 0 : (item.level - 1)) * ident + 'px' }">
      <div *ngIf="item.numbering && isNumbering"
           [innerHTML]="'<p>' + item.numbering + ' &nbsp; </p>'"></div>
      <div [innerHTML]="item.data | safeHtml">

      </div>
    </div>
  </div>

</div>



