@import "../../../../app/core/scss/shake";

ul {
  list-style: none;
}

.mat-dialog-title {

  background-color: $sk-primary-light;
  color: white;
  text-align: center;
  padding: 20px;
}

.wrapper {
  padding: 0 24px 24px 24px;
  //min-width: 300px;

}

#actions {
  margin: 0 auto;
}
::ng-deep .mat-dialog-container {
  margin: 0;
  padding: 0 ;
}
