<div fxLayout="row" fxLayoutGap="5px">
  <input   matInput fxFlex="1 1 200px" [(ngModel)]="invite.displayName">
   <input  matInput fxFlex="1 1 200px" [(ngModel)]="invite.email">

  <mat-checkbox fxFlex="1 1 100px" fxLayoutAlign="center" [(ngModel)]="invite.isAdmin"></mat-checkbox>
  <mat-checkbox fxFlex="1 1 100px" fxLayoutAlign="center" [(ngModel)]="invite.isEditor"></mat-checkbox>
  <mat-checkbox fxFlex="1 1 100px" fxLayoutAlign="center" [(ngModel)]="invite.isViewer"></mat-checkbox>

  <button mat-raised-button="" fxFlex="1 1 200px"  fxLayoutAlign="center" color="warn" (click)="delete(invite)"><i class="fa fa-trash"></i> </button>

</div>

