#org-admin-form {
  height: 500px;
}

#logo-view{
  height: 300px;
}

#logo-edit{
  height: 300px;
}

#logo {
  height: 80px;
  width: auto;
}

#logoHide {
  position: relative;
  top:-200px;
  width: 200px;
  height: 38px;
  pointer-events: none;
}
#logo-cropper {
  width: 200px;
  display: block;
  text-align: center;
}

//#wrapper {
//  width: 300px;
//  margin: 20px auto;
//}

#banner-view{
  height: 200px;
}

#banner-edit{
  height: 200px;
}

#banner {
  height: 30px;
  width: auto;
}

#bannerWraper {
  width: 1000px;
  margin: 20px auto;
}

//#img-input {
//  position: relative;
//  left: -50px;
//
//}


#bannerHide {
  position: relative;
  top:-90px;
  width: 300px;
  height: 38px;
  pointer-events: none;
}

#banner-cropper {
  width: 300px;
  display: block;
  text-align: center;
}
.cropper-buttons {
  position: relative;
  top:-40px;
}

.bannerImage {
  width: 100%;
  margin-bottom: 20px;
}

.orgLogo {
  height: 80px;
  width: auto;
}

.raised-buttons{
  margin-bottom: 20px;
}

.view-button {
  margin-top: 20px;
}
