<div>

  <div *ngIf="inLogoEdit || inBGImageEdit; else orgManagement">

    <div id="logoWrapper" class="img-input" *ngIf="inLogoEdit">
      <img-cropper [image]="logoData" [settings]="logoCropperSettings"></img-cropper>
      <button id="logoHide" class="btn btn-primary"> Choose Logo image</button>
      <div class="cropper-buttons">

        <button class="btn btn-outline-danger" [disabled]="!logoData.image"
                (click)="logoSavedClicked()">save
        </button>
        <button class="btn btn-outline-primary" (click)="inLogoEdit = false">cancel</button>
      </div>
    </div>

    <div id="imgWraper" class="img-input" *ngIf="inBGImageEdit">
      <img-cropper [image]="imgData" [settings]="bgImgCropperSettings"></img-cropper>
      <button id="imgHide" class="btn btn-primary"> Choose Background image</button>
      <div class="cropper-buttons">

        <button class="btn btn-outline-danger" [disabled]="!imgData.image"
                (click)="imageSaveClicked()">save
        </button>
        <button class="btn btn-outline-primary" (click)="inBGImageEdit = false">cancel</button>
      </div>
    </div>
  </div>

  <ng-template #orgManagement>
    <div class="container">

      <form [formGroup]="orgManagementForm">

        <div class="form-header text-center p-0">
          <h1 [innerHTML]="'Organization Management' | translate"></h1>
        </div>


        <nav class="navbar  navbar-expand bg-primary navbar-dark">

          <img *ngIf="logoData.image" [src]="logoData.image" id="orgLogo">
          <img *ngIf="!logoData.image" [src]="logoUrl" id="orgLogo">

          <a class="navbar-brand"> {{orgName}}</a>

          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                  data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                  aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">


            <!-- Right nav bar -->
            <ul class="navbar-nav" [ngClass]="{'ml-auto':!rtl, 'mr-auto': rtl}">

            </ul>
          </div>
        </nav>

        <img class="bgImage" src="assets/homepage/img/bg-home.jpg" *ngIf="!imgData.image">
        <img class="bgImage" [src]="imgData.image" *ngIf="imgData.image">


        <div class="form-body">

          <div class="form-group row">
            <label for="orgId" class="col-sm-3 col-form-label" [innerHTML]="'orgId' | translate" ></label>
            <input class="form-control col-sm-7" type="text" id="orgId" [(ngModel)]="orgId"
                   formControlName="orgId">
          </div>

          <div class="form-group row">
            <label for="orgName" class="col-sm-3 col-form-label"  [innerHTML]="'Organization Name' | translate" ></label>
            <input class="form-control col-sm-7" type="text" id="orgName" [(ngModel)]="orgName"
                   formControlName="orgName">
          </div>

          <div class="form-group row">
            <label for="language" class="col-sm-3 col-form-label" [innerHTML]="'Language' | translate"  ></label>
            <select formControlName="language" class="form-control custom-select  col-sm-7"
                    id="language" (change)="languageSelectorClicked($event.target.value)">
              <option disabled selected value style="display:none"></option>
              <option value="Hebrew">עברית</option>
              <option value="English">English</option>
            </select>
          </div>

          <div class="form-group row">
            <label for="orgLogoUpload" class="col-sm-3 col-form-label" [innerHTML]="'Organization Logo' | translate" ></label>
            <button class="btn btn-primary form-control col-sm-4" id="orgLogoUpload" (click)="logoUploadClicked()"
                    [innerHTML]="'Upload' | translate"></button>
          </div>

          <div class="form-group row">
            <label for="orgBGImage" class="col-sm-3 col-form-label" [innerHTML]="'Background Image' | translate" ></label>
            <button class="btn btn-primary form-control col-sm-4" id="orgBGImage" (click)="imageUploadClicked()"
                    [innerHTML]="'Upload' | translate"></button>
          </div>

        </div>
      </form>
    </div>

    <div class="d-flex justify-content-center">
      <button class="btn btn-outline-danger"
              (click)="saveClicked()" [innerHTML]="'Save' | translate">
      </button>
      <button class="btn btn-outline-primary" (click)="cancelClicked()" [innerHTML]="'Cancel' | translate"></button>
    </div>

    <div class="flags d-flex justify-content-center">
      <img src="assets/img/il.png" (click)="setLng('he')">
      <img src="assets/img/us.png" (click)="setLng('en')">
    </div>
  </ng-template>

</div>
