<div>

  <div *ngIf="inLogoEdit || inBannerEdit; else orgManagement">

    <div id="logoWrapper" class="img-input" *ngIf="inLogoEdit">
      <img-cropper [image]="logoData" [settings]="logoCropperSettings"></img-cropper>
      <button id="logoHide" mat-raised-button color="primary"> Click to choose logo image</button>
      <div class="cropper-buttons">

        <button mat-raised-button color="primary" [disabled]="!logoData.image"
                (click)="logoSavedClicked()">save
        </button>
        <button mat-raised-button color="basic" (click)="logoCancelClicked()">cancel</button>
      </div>
    </div>

    <div id="bannerWraper" class="img-input" *ngIf="inBannerEdit">
      <img-cropper [image]="bannerData" [settings]="bannerCropperSettings"></img-cropper>
      <button id="bannerHide" mat-raised-button color="primary" > Click to choose banner image</button>
      <div class="cropper-buttons">

        <button mat-raised-button color="primary" [disabled]="!bannerData.image"
                (click)="bannerSaveClicked()">save
        </button>
        <button mat-raised-button color="basic" (click)="bannerCancelClicked()">cancel</button>
      </div>
    </div>
  </div>

  <ng-template #orgManagement>
    <div id="wrapper" class="container">

      <form [formGroup]="orgManagementForm">

        <div class="form-header text-center p-0">
          <h1 [innerHTML]="'Organization Management' | translate"></h1>
        </div>

        <div class="form-body">

          <div >
            <mat-form-field>
            <input matInput type="text" id="orgId" [(ngModel)]="orgId" formControlName="orgId">
            </mat-form-field>
          </div>

          <div>
            <mat-form-field>
              <input matInput type="text" id="orgName" [(ngModel)]="orgName"
                     formControlName="orgName" placeholder="Organization Name">
            </mat-form-field>
            <button *ngIf="currentOrg && currentOrg.orgName !== orgName" mat-button color="primary"
                    (click)="nameUpdateClicked()"
            >Update</button>
            <button *ngIf="currentOrg && currentOrg.orgName !== orgName" mat-button color="primary"
                    (click)="nameUpdateCanceled()"
            >Cancel</button>
          </div>

          <div>
            <mat-form-field>
              <mat-select formControlName="language" placeholder="Language" id="language"
                          [(value)]="lang">
                <mat-option value="Hebrew">עברית</mat-option>
                <mat-option value="English">English</mat-option>
              </mat-select>
            </mat-form-field>
            <button *ngIf="currentOrg && currentOrg.language !== lang" mat-button color="primary"
                    (click)="langUpdateClicked()"
            >Update</button>
            <button *ngIf="currentOrg && currentOrg.language !== lang" mat-button color="primary"
                    (click)="langUpdateCanceled()"
            >Cancel</button>
          </div>

          <div>
            <button mat-raised-button color="primary" class="raised-buttons" (click)="logoUploadClicked()">Logo Update</button>
          </div>

          <div>
            <button mat-raised-button color="primary" class="raised-buttons" (click)="bannerUploadClicked()">Banner Update</button>
          </div>


        </div>
      </form>
    </div>

  </ng-template>

</div>
