<div class="card-page-background" fxLayout="column" fxLayoutAlign="center center">

  <mat-card [ngClass]="'page-card-small'" [ngClass.gt-sm]="'page-card-big'">

    <mat-card-header class="page-card-header">
      <mat-card-title>
        <h1 >
          {{ 'Organization Management' | translate }}
        </h1>
      </mat-card-title>
    </mat-card-header>

    <mat-card-content fxLayout="column" fxLayoutAlign="space-around" fxLayout.gt-sm="row" >

      <div [ngClass]="'card-panel-small'" [ngClass.gt-sm]="'card-panel-big'"
           fxLayout="column" fxLayoutAlign="space-around center">

        <!--Logo Display-->
        <div id="logo-view" *ngIf="!inLogoEdit" fxLayout="column"  fxLayoutAlign="center center">
          <img id="logo" class="rounded-circle" *ngIf="logoUrl" [src]="logoUrl" alt="">
          <button mat-raised-button class="btn-hover-accent view-button" (click)="logoUploadClicked()"
                  [innerHTML]="'Logo Update' | translate">
          </button>
        </div>

        <!--Logo Entry -->
        <div id="logo-edit" *ngIf="inLogoEdit" fxLayout="column"  fxLayoutAlign="space-around center">
          <div id="logo-cropper">
            <img-cropper [image]="logoData" [settings]="logoCropperSettings"></img-cropper>
          </div>
          <button id="logoHide" mat-raised-button color="accent"> {{'Choose Logo' | translate }}</button>
          <div class="cropper-buttons">
            <button mat-raised-button  class="btn-hover-accent" [disabled]="!logoData.image"
                    (click)="logoSavedClicked()">
              {{'Save' | translate}}
            </button>
            <button mat-raised-button class="btn-hover-accent" (click)="logoCancelClicked()">
              {{'Cancel' | translate}}
            </button>
          </div>
        </div>

        <!--Banner Display-->
        <div id="banner-view" *ngIf="!inBannerEdit" fxLayout="column"  fxLayoutAlign="center center">
          <img id="banner" *ngIf="bannerUrl" [src]="bannerUrl" alt="">
          <button mat-raised-button class="btn-hover-accent view-button" (click)="bannerUploadClicked()"
                  [innerHTML]="'Banner Update' | translate">
          </button>
        </div>

        <!--Banner Edit-->
        <div id="banner-edit" *ngIf="inBannerEdit" fxLayout="column"  fxLayoutAlign="space-around center">
          <div id="banner-cropper">
            <img-cropper [image]="bannerData" [settings]="bannerCropperSettings"></img-cropper>
          </div>
          <button id="bannerHide" mat-raised-button color="accent"> {{'Choose Banner' | translate }}</button>
          <div class="cropper-buttons">
            <button mat-raised-button class="btn-hover-accent"  [disabled]="!bannerData.image"
                    (click)="bannerSaveClicked()">
              {{'Save' | translate}}
            </button>
            <button mat-raised-button class="btn-hover-accent" (click)="bannerCancelClicked()">
              {{'Cancel' | translate}}
            </button>
          </div>
        </div>
      </div>



      <div [ngClass]="'card-panel-small'" [ngClass.gt-sm]="'card-panel-big'">

        <form [formGroup]="orgManagementForm" id="org-admin-form"
              fxLayout="column" fxLayoutAlign="space-around center" fxLayoutAlign.gt-sm="space-around start">
          <div>
            <mat-form-field>
              <input matInput type="text" id="orgName"
                     formControlName="orgName" placeholder="{{'Organization Name' | translate}}">
            </mat-form-field>
            <div *ngIf="currentOrg && currentOrg.orgName !== orgName">
              <button  mat-button color="primary" (click)="nameUpdateClicked()">
                {{'Update' | translate}}
              </button>
              <button  mat-button color="primary" (click)="nameUpdateCanceled()">
                {{'Cancel' | translate}}
              </button>
            </div>

          </div>

          <div>
            <mat-form-field>
              <input matInput type="email" id="orgEmailControl"
                     formControlName="orgEmailControl" placeholder="{{'Organization E-mail' | translate}}">
            </mat-form-field>
            <mat-error *ngIf="orgEmailControl.invalid && orgEmailControl.dirty" class="error-message"
                       [innerHTML]="'Please enter a valid email' | translate">
            </mat-error>
            <div *ngIf="currentOrg && currentOrg.orgEmail !== orgEmail">
              <button  mat-button color="primary" (click)="emailUpdateClicked()">
                {{'Update' | translate}}
              </button>
              <button  mat-button color="primary" (click)="emailUpdateCanceled()">
                {{'Cancel' | translate}}
              </button>
            </div>

          </div>

          <div>
            <mat-form-field>
              <mat-select formControlName="language" placeholder="{{'Language' | translate}}" id="language"
                          [(value)]="lang">
                <mat-option value="he">עברית</mat-option>
                <mat-option value="en">English</mat-option>
              </mat-select>
            </mat-form-field>
            <div *ngIf="currentOrg && currentOrg.language !== lang">
              <button  mat-button color="primary" (click)="langUpdateClicked()">
                {{'Update' | translate}}
              </button>
              <button  mat-button color="primary" (click)="langUpdateCanceled()">
                {{'Cancel' | translate}}
              </button>
            </div>

          </div>
        </form>

      </div>
    </mat-card-content>

  </mat-card>
</div>

