<div id="full-page">


  <div class="wrapper">
    <div class="d-flex justify-content-center">
      <img src="assets/img/shake-logo.png" id="logo" [routerLink]="['']">
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <div class="form-header p-0">
        <h1 [innerHTML]="'Login to Shake' | translate"></h1>
      </div>

      <div class="form-body">

      <div>
        <mat-form-field>
          <input matInput type="email" id="email"
                 formControlName="email" placeholder="{{'Email' | translate}}">
        </mat-form-field>
        <div *ngIf="email.invalid && email.dirty" class="error-message" class="error-message"
             [innerHTML]="'Please enter a valid email' | translate">
        </div>
      </div>

      <div>
        <mat-form-field>
          <input matInput type="password" id="password"
                 formControlName="password" placeholder="{{'Password' | translate}}">
        </mat-form-field>
        <div *ngIf="password.invalid && password.touched" class="error-message" class="error-message"
             [innerHTML]="'Password must be between 6 and 24 chars and have at least one number' | translate">
        </div>
      </div>

        <button mat-raised-button color="primary"  type="submit" [disabled]="!loginForm.valid"
                [innerHTML]="'Login' | translate"></button>
      </div>
    </form>

    <div class="form-body text-center">
      <span [innerHTML]="'New to Shake?' | translate"></span>
      <a (click)="gotoRegister()"
         [innerHTML]="'Create an account' | translate"
      ></a>
    </div>

    <div class="flags d-flex justify-content-center">
      <img src="assets/img/il.png" (click)="setLng('he')">
      <img src="assets/img/us.png" (click)="setLng('en')">
    </div>

  </div>


</div>
