.wrapper {
  position: relative;
  margin: 10% auto;
  max-width: 500px;
}

#logo {
  position: relative;
  width: 30%;
  left: 35%;
}


a:not([href]):not([tabindex]) {
  &:hover {
    cursor: pointer;

  }
  color: blue;
  text-decoration: underline;

}
