.login-form {
  height: 450px;
}

.login-icon {
  width: 250px;
}

a:not([href]):not([tabindex]) {
  &:hover {
    cursor: pointer;

  }
  color: blue;
  text-decoration: underline;

}

.flags {

    direction: ltr;

  img {
    margin:20px 5px;
    height: 30px;
  }
}

.gaps {
  margin-right: 10px;
  margin-left: 10px
}

