<div class="py-5 text-center opaque-overlay" style="background-image: url('../../../../assets/homepage/img/bg-home.jpg');">
  <div class="container py-5">
    <div class="row">
      <div class="col-md-12 text-white">
        <h1 class="display-3 mb-4">Your Business Operating Procedures</h1>
        <h1 class="display-3 mb-4">Smartly Delivered</h1>
        <br>
        <button mat-raised-button color="primary" [disabled]="!currentUser || !currentUser.emailVerified" (click)="addOrganization()">
          Create new organization
        </button>
        <!--<a [class.disabled]="!currentUser || !currentUser.emailVerified " class="btn btn-lg btn-primary mx-1"-->
           <!--(click)="addOrganization()">Create new organization</a>-->
        <br>
        <small *ngIf="!currentUser" class="text-white"> Login to enable button</small>
        <small *ngIf="currentUser && !currentUser.emailVerified " class="text-white">Verify your account to enable button</small>
      </div>
    </div>
  </div>
</div>
<div class="py-5 bg-light">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <h1 class="mb-4 text-primary">Benefits and features</h1>
        <p class="lead">SHAKE is a unique way to finally organize your business ideas, So they are available to all employees, wherever they are
          <br>
        </p>
        <div class="row text-left mt-5">
          <div class="col-md-4 my-3">
            <div class="row mb-3">
              <div class="text-center col-2"><i class="d-block mx-auto fa fa-3x fa-wrench"></i></div>
              <div class="align-self-center col-10">
                <h5 class="text-secondary"><b>Easy, modern management</b></h5>
              </div>
            </div>
            <p>Replace your printed procedures and stickey notes.</p>
            <p>Improves your organization performance as employees are better informed.</p>
          </div>
          <div class="col-md-4 my-3">
            <div class="row mb-3">
              <div class="text-center col-2"><i class="d-block mx-auto fa fa-3x fa-anchor"></i></div>
              <div class="align-self-center col-10">
                <h5 class="text-secondary"><b>Pre loaded knowledge</b></h5>
              </div>
            </div>
            <p>Your new SHAKE organization starts with an initial knowledge package, representing common best practices.</p>
          </div>
          <div class="col-md-4 my-3">
            <div class="row mb-3">
              <div class="text-center col-2"><i class="d-block mx-auto fa fa-3x fa-bolt"></i></div>
              <div class="align-self-center col-10">
                <h5 class="text-secondary"><b>Easy to use</b></h5>
              </div>
            </div>
            <p>SHAKE makes it super easy to manage your knowledge, by providing intuitive creation and editing capabilities, with an excellent document viewer</p>
          </div>
          <div class="col-md-4 my-3">
            <div class="row mb-3">
              <div class="text-center col-2"><i class="d-block mx-auto fa fa-3x fa-align-center"></i></div>
              <div class="align-self-center col-10">
                <h5 class="text-secondary"><b>Structured data</b></h5>
              </div>
            </div>
            <p>SHAKE documents are structured such that they are very easy to use</p>
          </div>
          <div class="col-md-4 my-3"></div>
          <div class="col-md-4 my-3">
            <div class="row mb-3">
              <div class="text-center col-2"><i class="d-block mx-auto fa fa-3x fa-question-circle-o"></i></div>
              <div class="align-self-center col-10">
                <h5 class="text-secondary"><b>Need expert help ?</b></h5>
              </div>
            </div>
            <p>If you want to take your knowledge management to an even highr level, our partners at ROM Knowledgeware are there for you</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="py-5 text-center bg-testimonial gradient-overlay">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Testimonials columns</h1>
        <p class="lead">We grow together with the community</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 p-4">
        <img class="img-fluid d-block rounded-circle mx-auto" src="../../../../assets/homepage/img/testimonials-1.jpg">
        <p class="my-4"><i>We tried SHAKE in our gas station. It solved an ever lasting problem of making every shift emplyee aware of company regulations&nbsp;</i></p>
        <p><b>Alona</b>
          <br>PAZ fuel, Raanana</p>
      </div>
      <div class="col-md-4 p-4">
        <img class="img-fluid d-block rounded-circle mx-auto" src="../../../../assets/homepage/img/testimonials-2.jpg">
        <p class="my-4"><i>Our waiting stuff is composed of students, with a very rapid change rate. SHAKE enabled us to get our procedures to each and every one of them, using media channels that are realy used.</i></p>
        <p><b>Boris</b>
          <br>Events place owner</p>
      </div>
      <div class="col-md-4 p-4">
        <img class="img-fluid d-block rounded-circle mx-auto" src="../../../../assets/homepage/img/testimonials-3.jpg">
        <p class="my-4"><i>A Senior persons home is always active, with a large nursing and aid stuff. SHAKE provided us with an easy way to get everyone up to date on patient care procedures.</i></p>
        <p><b>Sima</b>
          <br>Beit Gil Hazhav, Chief Nurse</p>
      </div>
    </div>
  </div>
</div>
