.mat-card-header-text {
  width: 100%;
}

#wrapper {
  width: 250px;
  margin: 20px auto;
}

//#img-input {
//position: relative;
//  left: -50px;
//
//}
#hide {
  //position: relative;
  top:-340px;
  width: 350px;
  height: 38px;
  pointer-events: none;


}
.triangleBG {
  width: 100%;
  position: absolute;

  top: 0;
  left: 0;
  right: 0;
  height: 30vh;
  background-color: #5299b9;
  //z-index: -1;
}
.triangleBG::after {
  content: " ";
  position: absolute;
  bottom: -40vh;
  left: 0;
  right: 0;
  height: 70vh;
  background-color: #fff;
  transform-origin: right center;
  transform: skewY(7deg);
}

#cropper-buttons {
  position: relative;
  top:-40px;
}

#display-name {
  margin-top: 10px;
}

#newDispalyname {
  width: 250px;
}
#btn-update-img {
  margin-top: 10px;
  width: 250px;
}



#btn-update-displayName {
  margin-top: 5px;
  width:250px;
}
#user-img {
  width: 250px;
  height: 250px;

}

#update-email {
  width: 250px;
  margin-top: 10px;
}

#email-update-buttons {
  margin-top: 5px;
}
