#wrapper {
  width: 250px;
  margin: 20px auto;
}
#img-input {
position: relative;
  left: -50px;

}
#hide {
  position: relative;
  top:-340px;
  width: 350px;
  height: 38px;
  pointer-events: none;


}
#cropper-buttons {
  position: relative;
  top:-40px;
}

#display-name {
  margin-top: 10px;
}

#newDispalyname {
  width: 250px;
}
#btn-update-img {
  margin-top: 10px;
  width: 250px;
}

#btn-update-displayName {
  margin-top: 5px;
  width:250px;
}
#user-img {
  width: 250px;
  height: 250px;
  margin-top: 30px;
  position: relative;
}

#update-email {
  width: 250px;
  margin-top: 10px;
}

#email-update-buttons {
  margin-top: 5px;
}
