
<div [ngClass]="'card-page-background-small'" [ngClass.gt-sm]="'card-page-background-big'" fxLayout="column" fxLayoutAlign="center center">

    <mat-card [ngClass]="'page-card-small'" [ngClass.gt-sm]="'page-card-big'">

      <mat-card-header class="page-card-header">
        <mat-card-title>
          <h1 >
            {{ 'User Profile' | translate }}
          </h1>
        </mat-card-title>
      </mat-card-header>

      <mat-card-content fxLayout="column" fxLayoutAlign="space-evenly" fxLayout.gt-sm="row" >

        <div [ngClass]="'card-panel-small'" [ngClass.gt-sm]="'card-panel-big'"
             fxLayout="column" fxLayoutAlign="center center">

          <div id="img-view" *ngIf="!isEditImage"  fxLayout="column"  fxLayoutAlign="space-evenly center" >
            <img id="user-img" class="rounded-circle"
                 [src]="data && data.image ? data.image : 'assets/img/default-user-image.png'" alt="">
            <button class="btn-hover-accent" id="btn-update-img" mat-raised-button (click)="isEditImage=true; tmpDataImage = data.image" >
              {{'Update Image' | translate }}
            </button>
          </div>

          <div id="img-input" *ngIf="isEditImage"  fxLayout="column" fxLayoutAlign="center center">
            <div id="img-cropper">
              <img-cropper [image]="data" [settings]="cropperSettings">
              </img-cropper>
            </div>
            <button id="hide"  mat-raised-button color="accent" > {{'Choose Image' | translate }}</button>
            <div id="cropper-buttons">

              <button mat-raised-button class="btn-hover-accent"
                      [disabled]="!data.image"
                      (click)="isEditImage = false; uploadSingle()">{{'Save' | translate }}
              </button>
              <button mat-raised-button class="btn-hover-accent" (click)="data.image = tmpDataImage; isEditImage = false">
                {{'Cancel' | translate }}
              </button>
            </div>
          </div>

        </div>



        <div [ngClass]="'card-panel-small'" [ngClass.gt-sm]="'card-panel-big'"
             fxLayout="column" fxLayoutAlign="space-evenly center" fxLayoutAlign.gt-sm="space-evenly start">

          <div>
            <mat-form-field >
              <input matInput type="text" id="displayName" [(ngModel)]="displayName"
                     placeholder="{{'Display Name' | translate}}">
            </mat-form-field>
            <div *ngIf="currentSkUser && currentSkUser.displayName !== displayName" >
              <button *ngIf="displayName" (click)="displayNameUpdateClicked()" mat-button color="primary">
                {{'Update' | translate }}
              </button>
              <button (click)="displayNameUpdateCanceled()" mat-button color="primary">
                {{'Cancel' | translate }}
              </button>
            </div>

          </div>

          <div>
            <mat-form-field>
              <input matInput type="email" id="email" [(ngModel)]="email"
                     placeholder="{{'Email' | translate}}">
            </mat-form-field>
            <div *ngIf="currentAuthUser && currentAuthUser.email !== email">
              <h6  *ngIf="emailValidate(email)">{{'Email change' | translate}}</h6>
              <p  *ngIf="emailValidate(email)">{{'TXT_email_change_message' | translate}}</p>
              <button mat-button *ngIf="emailValidate(email)" color="primary" (click)="emailUpdateClicked()">
                {{'Update' | translate }}
              </button>
              <button mat-button color="primary" (click)="emailUpdateCanceled()">
                {{'Cancel' | translate }}
              </button>
            </div>

          </div>

          <div>
            <button mat-raised-button class="btn-hover-accent" (click)="resetPassword()">
              {{'Reset Password' | translate }}
            </button>
          </div>
        </div>
      </mat-card-content>

    </mat-card>
</div>




