<button class="btn btn-sm btn-success" (click)="saveTree()">Save</button>
<input id="filter" #filter (keyup)="tree.treeModel.filterNodes(filter.value)" placeholder="filter nodes"/>
<button (click)="tree.treeModel.clearFilter()">Clear Filter</button>
<tree-root #tree [nodes]="nodes" [options]="tree_options" (moveNode)="moveNode($event)" (copyNode)="copyNode($event)">
  <ng-template #treeNodeTemplate let-node let-index="index">
    <div (click)="treeEditorClick($event, node)" fxLayout="row">
      <div *ngIf="treeNode === node" #itemTreeTrigger="matMenuTrigger" [dir]="isRTL ? 'rtl' : 'ltr'"
           [matMenuTriggerFor]="treeMenu"></div>
      <span *ngIf="node.data.isDoc" fxFlex="20px"><i class="fa fa-file-text"></i></span>
      <span *ngIf="!node.data.isDoc && node.isExpanded" fxFlex="20px"><i class="fa fa-folder-open-o"></i></span>
      <span *ngIf="!node.data.isDoc && !node.isExpanded" fxFlex="20px"><i class="fa fa-folder-o"></i></span>

      <span *ngIf="node.data.isDoc" fxFlex="calc(100% - 20px">{{node.data.name}}</span>
      <span *ngIf="!node.data.isDoc" fxFlex="calc(100% - 20px">
        <!-- the input -->
        <input #sectionName class="input-box" type="text"
                                           [value]="node.data.name" placeholder="Add title ..."
                                           (change)="node.data.name = sectionName.value"
                                           (blur)="sectionName.readOnly = true"
                                           (click)="inputClicked($event)" (dblclick)="sectionName.readOnly = false"
                                           readonly>
      </span>
    </div>
  </ng-template>

</tree-root>

<!-- Menu -->
<mat-menu #treeMenu="matMenu">
  <!--<button *ngIf="treeNode?.children" mat-menu-item (click)="addChildItem( treeNode)"><mat-icon>create</mat-icon>Add Item</button>-->
  <button *ngIf="treeNode?.children" mat-menu-item (click)="addChildItem(treeNode , true)"><mat-icon>create_new_folder</mat-icon>Add Section</button>
  <button *ngIf="(treeNode?.parent.parent && treeNode?.children) || (treeNode?.children && treeNode?.parent.children.length > 1) || treeNode?.data.isDoc" mat-menu-item (click)="deleteItem(treeNode)"><mat-icon>delete</mat-icon>Delete</button>
  <button *ngIf="treeNode?.children" mat-menu-item [matMenuTriggerFor]="sectionSatMenu"><mat-icon>create_new_folder</mat-icon>Sections</button>
  <!--<button *ngIf="treeNode?.parent.parent" mat-menu-item [matMenuTriggerFor]="itemSatMenu"><mat-icon>create</mat-icon>Items</button>-->
</mat-menu>

<mat-menu #itemSatMenu="matMenu" >
  <button mat-menu-item (click)="addBrotherItem( treeNode, true)">Add above</button>
  <button mat-menu-item (click)="addBrotherItem( treeNode)">Add below</button>
</mat-menu>


<mat-menu #sectionSatMenu="matMenu" >
  <button mat-menu-item (click)="addBrotherItem( treeNode, true)">Add above</button>
  <button mat-menu-item (click)="addBrotherItem( treeNode)">Add below</button>
</mat-menu>

