<mat-table #table [dataSource]="dataSource">

  <ng-container matColumnDef="displayName">
    <mat-header-cell *matHeaderCellDef> {{'Display Name' | translate}} </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.displayName}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="email">
    <mat-header-cell *matHeaderCellDef> {{'Email' | translate}} </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="isViewer">
    <mat-header-cell *matHeaderCellDef> {{'Viewer' | translate}} </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <mat-checkbox [checked]="element.isViewer"
                    (change) = "isViewerClicked(element.id, $event)" >
      </mat-checkbox>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="isEditor">
    <mat-header-cell *matHeaderCellDef> {{'Editor' | translate}} </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <mat-checkbox [checked]="element.isEditor"
                    (change) = "isEditorClicked(element.id, $event)" >
      </mat-checkbox>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="isAdmin">
    <mat-header-cell *matHeaderCellDef> {{'Admin' | translate}} </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <mat-checkbox [checked]="element.isAdmin"
                    (change) = "isAdminClicked(element.id, $event)" >
      </mat-checkbox>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="Actions">
    <mat-header-cell *matHeaderCellDef> {{'Actions' | translate}}</mat-header-cell>
    <mat-cell  *matCellDef="let element">
      <button mat-raised-button color="warn"
              matTooltip="{{'Invitation Delete' | translate}}" matTooltipPosition="after"
              (click)="inviteDelete(element.id)">
        <i class="fa fa-trash"></i></button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
