@import '../../../../app/core/scss/shake';

.wrapper-big {
  padding-bottom: 20px;
  max-width: 800px;
  margin: 20px auto;
  background-color: whitesmoke;
}

.wrapper-small {
  max-width: 100%;
  background-color: whitesmoke;
}

.header {
  height: 50px;
  min-height: 50px;
  max-height: 50px;
  background-color: #00405c;
  color: white;
}

.back-button {
  margin: 20px
}

.rightside-buttons {
  margin:5px;
}

.fillsapce {
  flex: 1 1 auto;

}

#doc-name {
  color: white;
  margin: 0 20px;
}

#doc-version {
  font-size: 0.7rem;
}
