<div class="wrapper">

  <!-- HEADER -->
  <div class="header" fxLayout="row" fxLayoutAlign="space-between center">
    <button mat-button class="rightside-buttons mat-icon-button" (click)="publishDocument()">
      <mat-icon>publish</mat-icon>
    </button>

    <button mat-button class="rightside-buttons mat-icon-button" (click)="saveDocument()">
      <mat-icon>save</mat-icon>
    </button>

    <!-- EDIT BUTTON -->
    <button *ngIf="isPreview" mat-button class="rightside-buttons mat-icon-button" (click)="showEdit()">
      <mat-icon>edit</mat-icon>
    </button>

    <!-- NUMBERING BUTTON-->
    <button *ngIf="isPreview" mat-button class="rightside-buttons mat-icon-button" (click)="toggleNumbering()">
      <mat-icon>format_list_numbered</mat-icon>
    </button>

    <!-- Taskview BUTTON-->
    <button *ngIf="isPreview" mat-button class="rightside-buttons mat-icon-button" (click)="toggleTaskView()">
      <mat-icon>dns</mat-icon>
    </button>

    <!-- PREVIEW BUTTON -->
    <button *ngIf="!isPreview" mat-button class="rightside-buttons mat-icon-button" (click)="showPreview()">
      <mat-icon>pageview</mat-icon>
    </button>

    <span class="fillsapce"></span>

    <p>{{docVersiontitle}}</p>

    <button mat-button class="back-button mat-icon-button" (click)="goToOrgHome()">
      <mat-icon>home</mat-icon>
    </button>

  </div>

  <!-- EDITOR -->
  <div [hidden]="isPreview" >
    <sk-tree-doc #editor [docData]="currentEditData" [isRTL]="rtl"></sk-tree-doc>

  </div>

  <!-- VIEWER -->
  <div [hidden]="!isPreview">
    <sk-doc-viewer  *ngIf="!isTaskView"  [docJson]="previewData" [isRTL]="rtl" [isNumbering]="isNumbering"></sk-doc-viewer>
    <sk-task-viewer  *ngIf="isTaskView" [docJson]="currentEditData?.data" [isRTL]="rtl" [isNumbering]="isNumbering"></sk-task-viewer>
  </div>

</div>
