<div class="wrapper">

  <!-- HEADER -->
  <div class="header" fxLayout="row" fxLayoutAlign="space-between center">
    <button mat-button class="rightside-buttons mat-icon-button" (click)="publishDocument()"
      matTooltip="{{'Publish' | translate}}" matTooltipPosition="after">
      <mat-icon>publish</mat-icon>
    </button>

    <button mat-button class="rightside-buttons mat-icon-button" (click)="saveDocument()"
            matTooltip="{{'Save' | translate}}" matTooltipPosition="after">
    <mat-icon>save</mat-icon>
    </button>

    <!-- EDIT BUTTON -->
    <button *ngIf="isPreview" mat-button class="rightside-buttons mat-icon-button" (click)="showEdit()"
            matTooltip="{{'Edit' | translate}}" matTooltipPosition="after">
    <mat-icon>edit</mat-icon>
    </button>

    <!-- NUMBERING BUTTON-->
    <button *ngIf="isPreview" mat-button class="rightside-buttons mat-icon-button" (click)="toggleNumbering()"
            matTooltip="{{'Numbering' | translate}}" matTooltipPosition="after">
    <mat-icon>format_list_numbered</mat-icon>
    </button>

    <!-- Taskview BUTTON-->
    <button *ngIf="isPreview" mat-button class="rightside-buttons mat-icon-button" (click)="toggleTaskView()"
            matTooltip="{{'Section View' | translate}}" matTooltipPosition="after">
    <mat-icon>dns</mat-icon>
    </button>

    <!-- PREVIEW BUTTON -->
    <button *ngIf="!isPreview" mat-button class="rightside-buttons mat-icon-button" (click)="showPreview()"
            matTooltip="{{'Preview' | translate}}" matTooltipPosition="after">
    <mat-icon>pageview</mat-icon>
    </button>

    <!-- SEARCH BUTTON -->
    <button  mat-button class="rightside-buttons mat-icon-button" (click)="toggleSearch()"
             matTooltip="{{'Search' | translate}}" matTooltipPosition="after">
      <mat-icon>search</mat-icon>
    </button>

    <!-- SEARCH input -->
    <input *ngIf="isSearch" [(ngModel)]="searchPhrase">

    <span class="fillsapce"></span>

    <p id="doc-name" [innerHTML]="docName"></p>

    <p>{{docVersionTitle | translate}} {{docVersionNumber}}</p>

    <button mat-button class="back-button mat-icon-button" (click)="goToOrgHome()">
      <mat-icon>home</mat-icon>
    </button>

  </div>

  <!-- EDITOR -->
  <div [hidden]="isPreview" >
    <sk-tree-doc #editor [docData]="currentEditData" [isRTL]="rtl"  [isSearch]="isSearch" [searchPhrase]="searchPhrase" (editTreeClicked)="editTreeClicked()"></sk-tree-doc>

  </div>

  <!-- VIEWER -->
  <div [hidden]="!isPreview">
    <sk-doc-viewer  *ngIf="!isTaskView" [isSearch]="isSearch" [searchPhrase]="searchPhrase" [docJson]="previewData" [isRTL]="rtl" [isNumbering]="isNumbering"></sk-doc-viewer>
    <sk-task-viewer  *ngIf="isTaskView"  [docJson]="currentEditData?.data" [isRTL]="rtl" [isNumbering]="isNumbering"></sk-task-viewer>
  </div>

</div>
