<mat-drawer-container *ngIf="docJson" id="doc-wrapper" autosize="true" class="mat-elevation-z8" style="direction: ltr" >

  <mat-drawer mode="side" [position]="isRTL ? 'end' : 'start'" [opened]="isDocMap" style="padding: 10px; max-width: 200px" [ngClass]="{'rtl-drawer': isRTL}">
    <div [ngClass]="{'set-rtl': isRTL}">
      <tree-root #tree [nodes]="nodes" [options]="options">
        <ng-template #treeNodeTemplate let-node let-index="index">
          <div (click)="treeClicked($event, node)"  (contextmenu)="treeRightClick($event, node)" fxLayout="row">
            <!--<span *ngIf="node.data.children.length === 0" fxFlex="20px"><i class="fa fa-dot-circle-o"></i></span>-->
            <span  fxFlex="calc(100% - 20px">{{node.data.numbering}}&nbsp;{{node.data.name}}</span>
          </div>
        </ng-template>
      </tree-root>
    </div>
  </mat-drawer>

  <mat-drawer-content style="padding: 10px; height: 100%; overflow: scroll" >
    <div style="height: 100%; overflow: scroll">
      <div *ngFor="let item of docList" [ngClass]="{'set-rtl': isRTL}">
        <div fxLayout [ngClass]="{

       'item-warning': item.type === 1,
       'section' : item.nodes,
       'section-rtl' : item.nodes && isRTL,
       'item' : !item.nodes}"
             [ngStyle]="{'margin-right': ((item.level - 1) < 0 ? 0 : (item.level - 1)) * ident + 'px' }">
          <div *ngIf="item.numbering && isNumbering"
               [innerHTML]="'<p>' + item.numbering + ' &nbsp; </p>'"></div>
          <div [innerHTML]="item.data | safeHtml">

          </div>
        </div>
      </div>
    </div>

  </mat-drawer-content>

</mat-drawer-container>


