::ng-deep p {
  margin: 0;
  padding: 0;
}

#doc-wrapper {
  height: calc(100vh - 140px);
  //max-height: 80vh;
  overflow-y: scroll;
  max-width: 700px;
  margin: 20px auto;
  direction: ltr;       // to enable hebrew support for drawer!
}

#doc-map {
  padding: 10px;
  max-width: 200px;
}

#doc-view {
  padding: 10px;
  overflow: scroll;
}

.set-rtl {
  text-align: right;
  direction: rtl;
}

.rtl-drawer {
  right: 0!important;
  left:auto!important;
}
.section {
  font-size: 18px;
  font-weight: bold;
}

.section-rtl {

}

.item {
  font-size: 14px;
  padding: 2px 5px;
}

.item-warning {
  background-color: #ffc7b5;
  border-right: 8px solid red;

}

.node-content-wrapper, .tree-children {
  position: relative;
}

.node-content-wrapper::before, .tree-children::after {
  content: "";
  position: absolute;
}

.node-content-wrapper::before {
  border-bottom: 1px solid lightgrey;
  border-left: 1px solid lightgrey;
  height: 28px;
  top: -17px;
  width: 20px;
  left: -28px;
}

.tree-node-level-1 > tree-node-wrapper > .node-wrapper > .node-content-wrapper::before {
  display: none;
}

.tree-node-leaf > .node-wrapper > .node-content-wrapper::before {
  width: 25px;
}

.tree-children::after {
  border-left: 1px solid lightgrey;
  height: 100%;
  top: -15px;
  left: -15px;
}

tree-node:last-child > .tree-node > .tree-children::after {
  border-left: none;
}

.toggle-children {
  z-index: 1;
}

