
<div id="treeViewContainer">
  <button class="btn btn-sm" (click)="newDoc()">New Doc</button>
  <button class="btn btn-sm" (click)="saveDoc()">Save Doc</button>
  <button class="btn btn-sm" (click)="publishDoc()">Publish Doc</button>
  <button class="btn btn-sm" (click)="unPublishDoc()">Un-publish Doc</button>
  <button class="btn btn-sm" (click)="publicDoc()">Make Public</button>
  <button class="btn btn-sm" (click)="unPublicDoc()">Remove Public</button>
  <sk-tree-view [treeNode]="skTree[0]"
                [identMargin]="'25'"
                [isRTL]="true"
                (treeChange)="treeChanged()">

  </sk-tree-view>

</div>

