<div class="org-users-container mat-elevation-z8">

  <mat-table #table class="org-users-table" [dataSource]="orgUsersDataSource" >

    <ng-container matColumnDef="isPending">
      <mat-header-cell *matHeaderCellDef> {{'Pending' | translate}}</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <mat-checkbox [checked]="element.isPending"
                      [disabled]="element.isPending && !element.roles.editor && !element.roles.admin && !element.roles.viewer"
                      (change) = "isPendingClicked(element.id, $event)" >
        </mat-checkbox>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="photo">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let element"> <img *ngIf="element.photoURL"
                                                class="user-img rounded-circle img-fluid" [src]="element.photoURL" alt=""> </mat-cell>
    </ng-container>

    <ng-container matColumnDef="displayName">
      <mat-header-cell *matHeaderCellDef>  {{'Display Name' | translate}}</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.displayName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="isAdmin">
      <mat-header-cell *matHeaderCellDef> {{'Admin' | translate}}</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <mat-checkbox [checked]="element.roles.admin"
                      [disabled]="currentUser && currentUser.uid === element.uid || element.roles.admin && !element.roles.editor && !element.roles.viewer && !element.isPending"
                      (change) = "isAdminClicked(element.id, $event)" >

        </mat-checkbox>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="isEditor">
      <mat-header-cell *matHeaderCellDef> {{'Editor' | translate}}</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <mat-checkbox [checked]="element.roles.editor"
                      [disabled]="element.roles.editor && !element.roles.admin && !element.roles.viewer && !element.isPending"
                      (change) = "isEditorClicked(element.id, $event)" >

        </mat-checkbox>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="isViewer">
      <mat-header-cell *matHeaderCellDef> {{'Viewer' | translate}}</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <mat-checkbox [checked]="element.roles.viewer"
                      [disabled]="element.roles.viewer && !element.roles.admin && !element.roles.editor && !element.isPending"
                      (change) = "isViewerClicked(element.id, $event)" >
        </mat-checkbox>
      </mat-cell>
    </ng-container>
    <!--class="btn-responsive btn-hover-warn mat-elevation-z8"-->
    <!--style="box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);"-->

    <ng-container matColumnDef="Actions">
      <mat-header-cell *matHeaderCellDef> {{'Actions' | translate}}</mat-header-cell>
      <mat-cell  *matCellDef="let element" style="overflow: visible">
        <button mat-raised-button class="btn-hover-warn"
                matTooltip="{{'User Delete' | translate}}" matTooltipPosition="after"
                (click)="userDeleted(element.id)">
          <i class="fa fa-trash"></i>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="orgUsersDisplayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: orgUsersDisplayedColumns;"></mat-row>
  </mat-table>
</div>
