.page-wrap {
  height: 100vh;
}

.orgLogo {
  height: 40px;
  width: auto;
}

.org-name {
  color: #FFFFFF;
  font-size: 15pt;
}

.fill-remaining-space {
  flex: 1 1 auto;
}


router-outlet.router-flex + * {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}
