<ng-container *ngIf="currentUser || {} as user">
    <form [formGroup]="signupForm" *ngIf="!currentUser" (ngSubmit)="signup()">

        <h3>New User Signup</h3>

        <div class="form-group">
            <label for="email">Email</label>
            <input class="form-control" id="email" type="email"
                   formControlName="email">

            <div *ngIf="email.invalid && email.dirty">
                Your email doesn't look quite right...
            </div>
        </div>
        <div class="form-group">

            <label for="password">Password</label>
            <input class="form-control" type="password" id="password"
                   formControlName="password" required>

            <div *ngIf="password.invalid && password.touched">
                Password must be between 6 and 24 chars and have at least one number
            </div>
        </div>

        <div *ngIf="signupForm.valid">Form looks good! Let's do this.</div>

        <button class="btn btn-success" type="submit" [disabled]="!signupForm.valid">Submit</button>


    </form>

</ng-container>
<ng-container *ngIf="currentUser && !currentUser.displayName">
    <form [formGroup]="detailForm"
          (ngSubmit)="setCatchPhrase(user)">

        <h3>Set your Display</h3>
        <div class="form-group">
            <label for="displayName">display Name</label>
            <input class="form-control" type="text" formControlName="displayName" id="displayName">
        </div>

        <button class="btn btn-success" type="submit" [disabled]="!detailForm.valid">Submit</button>


    </form>
</ng-container>

<p *ngIf="currentUser && currentUser.displayName">
    You have completed the form!
</p>

