<sk-org-tree-edit-manager></sk-org-tree-edit-manager>

<div *ngFor="let doc of orgDocs$ | async"
      (click)="docSelected(doc)">
  {{doc.name}}
</div>
<button [disabled]="isSaving"  class="btn btn-sm btn-primary" (click)="newDocument()">New Doc</button>
<button [disabled]="isSaving" class="btn btn-sm btn-primary" (click)="saveDocument()">Save Doc</button>
<button [disabled]="isSaving" class="btn btn-sm btn-primary" (click)="publishDocument()">Publish Doc</button>
<button [disabled]="isSaving" class="btn btn-sm btn-primary" (click)="deleteDocument()">Delete Doc</button>

<!--<sk-doc-editor #editor [docData]="currentEditData" ></sk-doc-editor>-->
<sk-tree-doc #editor [docData]="currentEditData" [isRTL]="true" ></sk-tree-doc>
