<mat-toolbar color="primary" fxLayout="row">
  <a mat-button [routerLink]="['']"><img src="assets/img/shake-logo.png"></a>
  <span class="fill-space"></span>

  <div>
    <a class="nav-link" *ngIf="!currentUser" (click)="login()"> Login</a>
  </div>
  <div>
    <a class="nav-link" *ngIf="!currentUser" (click)="signup()"> Sign up</a>
  </div>
  <div>
    <sk-nav-admin></sk-nav-admin>
  </div>
  <div>
    <sk-nav-user></sk-nav-user>
  </div>
</mat-toolbar>

<!--<nav class="navbar navbar-expand bg-primary navbar-dark">-->

  <!--<a class="navbar-brand" [routerLink]="['']"><img src="assets/img/shake-logo.png"></a>-->
  <!--<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"-->
          <!--data-target="#navbar2SupportedContent" aria-controls="navbar2SupportedContent" aria-expanded="false"-->
          <!--aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>-->
  <!--<div class="collapse navbar-collapse text-center justify-content-end" id="navbar2SupportedContent">-->
    <!--<ul class="navbar-nav">-->
      <!--<li class="nav-item" *ngIf="!currentUser" (click)="login()">-->
        <!--<a class="nav-link"> Login</a>-->
      <!--</li>-->
      <!--<li class="nav-item" *ngIf="!currentUser" (click)="signup()">-->
        <!--<a class="nav-link"> Sign up</a>-->
      <!--</li>-->
      <!--<sk-nav-admin></sk-nav-admin>-->
      <!--<sk-nav-user></sk-nav-user>-->
    <!--</ul>-->
  <!--</div>-->
<!--</nav>-->
<router-outlet></router-outlet>

