// Variables
//@import "variables/theme";
// Mixins
@import '~@angular/material/theming';
@import "mixins/breakpoints";


$sk-bar-color: #176b89;

$sk-primary: #176b89;
$sk-secondary: #871782;

$sk-primary-light: #5299b9;
$sk-secondary-light: #ba4db2;
