<div id="full-page">

</div>

<div class="wrapper">

  <div class="d-flex justify-content-center">
    <img src="assets/img/shake-logo.png" id="logo" [routerLink]="['/home']">
  </div>

  <form [formGroup]="newOrgForm" (ngSubmit)="addOrg()">

    <div class="form-header p-0">
      <h1 [innerHTML]="'Create New Organization' | translate"></h1>
    </div>

    <div class="form-body">

      <div class="form-group">
        <label for="orgId" [innerHTML]="'orgId' | translate" ></label>
        <span [tooltip]="'orgId_tooltip' | translate"><i class="fa fa-question-circle-o"></i></span>
        <input class="form-control" type="text" id="orgId"
               formControlName="orgId" required>

        <div *ngIf="orgId.invalid && orgId.touched">
          name must be between 4 and 12 chars with no space
        </div>
      </div>

      <div class="form-group">
        <label for="orgName" [innerHTML]="'Organization Name' | translate" ></label>
        <input class="form-control" type="text" id="orgName"
               formControlName="orgName">
      </div>

      <div class="form-group">
        <label for="country" [innerHTML]="'Country' | translate"  ></label>
        <select class="form-control custom-select" id="country" (change)="updateSectors($event.target.value)">
          <option value="Israel">Israel</option>
          <option value="USA">USA</option>
        </select>

      </div>

      <div class="form-group">
        <label for="sector" [innerHTML]="'Sector' | translate"></label>
        <select class="form-control custom-select" id="sector">
          <option *ngFor="let sector of sectors" [value]="sector">{{sector.id}}</option>
        </select>
      </div>

      <button class="btn btn-success btn-block" type="submit" [disabled]="!newOrgForm.valid">Submit</button>

    </div>
  </form>

  <div class="flags d-flex justify-content-center">
    <img src="assets/img/il.png" (click)="setLng('he')">
    <img src="assets/img/us.png" (click)="setLng('en')">
  </div>

</div>

