<div id="full-page">

</div>

<div class="wrapper">

  <div class="d-flex justify-content-center">
    <img src="assets/img/shake-logo.png" id="logo" [routerLink]="['/home']">
  </div>

  <form [formGroup]="newOrgForm" (ngSubmit)="addOrg()">

    <div class="form-header p-0">
      <h1 [innerHTML]="'Create Organization' | translate"></h1>
    </div>

    <div class="form-body">

      <div class="form-group">
        <label for="orgId" [innerHTML]="'orgId' | translate" ></label>
        <span [tooltip]="'TXT_orgId_tooltip' | translate"><i class="fa fa-question-circle-o"></i></span>
        <input class="form-control" type="text" id="orgId" (change)="checkOrgId()" (keyup)="checkOrgId()"
               formControlName="orgId" required>

        <div  class="error-message" *ngIf="orgId.invalid && orgId.touched && orgIdAvailable" [innerHTML]="'TXT_orgId_error' | translate"></div>
        <div  class="error-message" *ngIf="orgId.invalid && orgId.touched && !orgIdAvailable" [innerHTML]="'TXT_orgId_unavailable' | translate"></div>
      </div>

      <div class="form-group">
        <label for="orgName" [innerHTML]="'Organization Name' | translate" ></label>
        <input class="form-control" type="text" id="orgName"
               formControlName="orgName">
      </div>

      <div class="form-group">
        <label for="language" [innerHTML]="'Language' | translate"  ></label>
        <select formControlName="language" class="form-control custom-select" id="language" (change)="languageChanged($event.target.value)">
          <option disabled selected value style="display:none"></option>
          <option value="Hebrew">עברית</option>
          <option value="English">English</option>
        </select>

      </div>

      <div class="form-group">
        <label for="sector" [innerHTML]="'Sector' | translate"></label>
        <select formControlName="sector" class="form-control custom-select" id="sector" (change)="updateSector($event.target.value)">
          <option disabled selected value style="display:none"></option>
          <option *ngFor="let sector of sectors" [value]="sector">{{sector}}</option>
        </select>
      </div>

      <button class="btn btn-success btn-block" type="submit" [disabled]="!newOrgForm.valid">Submit</button>

    </div>
  </form>


  <div class="flags d-flex justify-content-center">
    <img src="assets/img/il.png" (click)="setLng('he')">
    <img src="assets/img/us.png" (click)="setLng('en')">
  </div>
</div>

<ngx-spinner [type]="'timer'" [bdOpacity]="0.9" [size]="'large'"></ngx-spinner>
<h3 *ngIf="isWaiting" class="wait-msg text-center">Creating your organization. Please wait ....</h3>

