.wrapper {
  margin:0;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: orangered;
  color:white;
  font-family: "Arial";

}

h1 {
  position: relative;
  text-align: center;
  top:48%;
}