.wrapper {
  margin:0;
  position: absolute;
  height: 100%;
  width: 100%;
  //background-color: lightpink;
  color:black;
  font-family: "Arial";
  text-align: center;
}

h1 {
   position: relative;
   top:48%;
 }
h3 {
  position: relative;
  top:47%;
}
