<div class="message-page-background" fxLayout="column" fxLayoutAlign="center center">

  <mat-card [ngClass]="'card-small'" [ngClass.gt-sm]="'card-big'" fxLayout="column" fxLayoutAlign="space-evenly center">
    <img mat-card-image class="shake-image" src="/assets/logo/notext-big.png" >
    <mat-card-title style="text-align: center">
      {{ 'TXT_not_found' | translate}}
    </mat-card-title>
    <mat-card-actions>
      <button mat-raised-button class="btn-hover-accent" (click)="home()">
        <mat-icon>home</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>


