<div class="wrapper">
  <div class="row">
    <div class="col-4 col-md-3">
      <a href="/"><img src="assets/img/shake-logo/logo_left_text.svg" class="img-fluid"></a>
    </div>
    <div class="container-fluid">
      <div class="row ">
        <div class="col-md-7 offset-1">
          <h1 class="text-left display-1">Oops !</h1>
          <h3 class="text-left h3">We can't find the page</h3>
          <h3 class="text-left h3">you are looking for</h3>
          <br>
          <h3 class="text-left h5">Consider going to <a href="/">SHAKE Home Page</a></h3>
        </div>
      </div>
    </div>
  </div>
</div>
