<div class="users-container mat-elevation-z8">

  <div class="table-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </div>

  <mat-table #table [dataSource]="dataSource">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- photo URL Column -->
    <ng-container matColumnDef="photoURL">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let element"> <img *ngIf="element.photoURL" id="user-img"
                                                class="rounded-circle img-fluid" [src]="element.photoURL" alt=""> </mat-cell>
    </ng-container>

    <!-- uid Column -->
    <!--<ng-container matColumnDef="uid">-->
      <!--<mat-header-cell *matHeaderCellDef> uid </mat-header-cell>-->
      <!--<mat-cell *matCellDef="let element"> {{element.uid}} </mat-cell>-->
    <!--</ng-container>-->

    <!-- Name Column -->
    <ng-container matColumnDef="displayName">
      <mat-header-cell *matHeaderCellDef> Display Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.displayName}} </mat-cell>
    </ng-container>

    <!-- email Column -->
    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef> email </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
