.admins-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
}

.users-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
}

.admins-table {
  overflow: auto;
  max-height: 250px;
}

.users-table {
  overflow: auto;
  max-height: 500px;
}

.user-img {
  height: auto;
  width: 36px;

}

.table-header {
  min-height: 64px;
  padding: 8px 24px 0;
}
