.ww {
  position: relative;
  width:350px;
  margin: 50px auto;
}

.ng-valid:not(form) {
  border-left: solid green 5px;
}

.ng-invalid:not(form) {
  border-left: solid darkred 5px;
}


.wrapper {
  position: relative;
  margin: 10% auto;
  max-width: 500px;
}

#logo {
  position: relative;
  width: 30%;
  left: 35%;
}
