<div >
  <div>
    <p class="text-center h2">Welcome to {{ orgName }} Home Page </p>
  </div>
  <div fxLayout="row" fxLayoutAlign="start start" >
    <div style="background-color: #eceeef" fxFlex="20%">
      <sk-org-search-panel [currentOrg]="currentOrg" [orgSearchKey]="orgSearchKey"
                           (searchResults)="getSearchResults($event)"
                           (selectedDoc)="getSelectedDoc($event)"
      ></sk-org-search-panel>
    </div>
    <div fxFlex="80%">
      <sk-org-messages *ngIf="mainDisplay==='messages'"></sk-org-messages>
      <sk-org-search-results *ngIf="mainDisplay==='results'"
                             [searchResults]="searchResults"
                             (selectedDoc)="getSelectedDoc($event)"
      ></sk-org-search-results>
      <sk-doc-viewer *ngIf="mainDisplay==='doc'" [docJson]="selectedDoc?.editVersion.data"></sk-doc-viewer>
    </div>
  </div>
</div>
