<!-- set margin for the level -->
<div class="wrapper" #wrapper>
  <!-- context menu -->

  <!-- if this is a section -->
  <div class="" (dragstart)="dragStartSection($event,treeNode)"
       (dragend)="dragEndSection($event)"
       draggable="true" *ngIf="treeNode?.children">

    <div class="seperator " [ngClass]="{'seperator-dragedOver': isHoverSeperator}"
         (drop)="onDropSeperator($event)"
         (dragleave)="onDragLeaveSeperator($event)"
         (dragover)="onDragOverSeperator($event)"
         draggable="false">
    </div>
{{isAltKey}}

    <div (contextmenu)="openTreeMenu($event)" (click)="treeEditorClick($event)">
      <div #itemTreeTrigger="matMenuTrigger" [matMenuTriggerFor]="treeMenu"></div>
      <div
        [ngClass]="{'section-dragedOver': isHoverSection ,'set-rtl': isRTL, 'section-editor-ltr': !isRTL, 'section-editor-rtl': isRTL}"
        [froalaEditor]="options" [ngModel]="treeNode.data"
        (dragover)="onDragOverSection($event)"
        (dragenter)="onDragEnterSection($event)"
        (dragleave)="onDragLeaveSection($event)"
        (drop)="onDropSection($event)"
      >
      </div>
    </div>
    <div *ngFor="let node of treeNode?.children">
      <sk-tree-view [isRTL]="isRTL" [treeNode]="node" [identMargin]="identMargin"
                    (treeChange)="treeChanged()"></sk-tree-view>
    </div>
  </div>

  <!-- this is an Item -->
  <div *ngIf="!treeNode?.children" draggable="true" (dragstart)="dragStartItem($event,treeNode)"
       (dragend)="dragEndItem($event)">
    <div #sep class="seperator " [ngClass]="{'seperator-dragedOver': isHoverSeperator}"
         (drop)="onDropSeperator($event)"
         (dragleave)="onDragLeaveSeperator($event)"
         (dragover)="onDragOverSeperator($event)"
         draggable="false">
    </div>

    <div (contextmenu)="openTreeMenu($event)" (click)="treeEditorClick($event)">
      <div #itemTreeTrigger="matMenuTrigger" [matMenuTriggerFor]="treeMenu"></div>
      <div [ngClass]="{'set-rtl': isRTL, 'item-editor-ltr': !isRTL, 'item-editor-rtl': isRTL}"
           [froalaEditor]="options" [ngModel]="treeNode?.data">
      </div>
    </div>
  </div>
</div>

<!-- Menus-->


  <mat-menu #treeMenu="matMenu" >
    <button *ngIf="treeNode?.children" mat-menu-item (click)="addItemChild()"><mat-icon>create</mat-icon>Add Item</button>
    <button *ngIf="treeNode?.children" mat-menu-item (click)="addSectionChild()"><mat-icon>create_new_folder</mat-icon>Add Section</button>
    <button *ngIf="!treeNode.isRoot" mat-menu-item (click)="deleteItem()"><mat-icon>delete</mat-icon>Delete</button>
    <button *ngIf="!treeNode.isRoot" mat-menu-item [matMenuTriggerFor]="sectionSatMenu"><mat-icon>create_new_folder</mat-icon>Sections</button>
    <button *ngIf="!treeNode.isRoot" mat-menu-item [matMenuTriggerFor]="itemSatMenu"><mat-icon>create</mat-icon>Items</button>
  </mat-menu>

  <mat-menu #itemSatMenu="matMenu">
    <button mat-menu-item (click)="addItemBefore()">Add above</button>
    <button mat-menu-item (click)="addItemAfter()">Add below</button>
    <button mat-menu-item (click)="addItemsAfter(3)">Add 3 Below</button>
  </mat-menu>


  <mat-menu #sectionSatMenu="matMenu">
    <button mat-menu-item (click)="addSectionBefore()">Add above</button>
    <button mat-menu-item (click)="addSectionAfter()">Add below</button>
  </mat-menu>






