#handle {
  background-color: lightgray;

}

.item-wrapper {
}

.seperator {
  height: 2px;
  width: 98%;
}

.section-dragedOver {
  border: 1px dashed palegoldenrod;
  background-color: lightgoldenrodyellow;
}

.seperator-dragedOver {
  border: 1px dashed palegoldenrod;
  background-color: lightgoldenrodyellow;
  height: 20px;
}

.set-rtl {
  text-align: right;
  direction: rtl;
}

.editor-ltr {
  margin: 0;
  padding-left: 12px;
  &:before {
    content: "";
    display: block;
    width: 10px;
    height: 100%;
    position: absolute;
    background-color: aliceblue;
    top: 0px;
    left: -12px;
  }
}

.editor-rtl {
  margin: 0;
  padding-right: 12px;
  &:after {
    content: "";
    display: block;
    width: 10px;
    height: 100%;
    position: absolute;
    background-color: aliceblue;
    top: 0px;
    right: -12px;
  }
}



