

<div class="container">
  <div id="img-input" *ngIf="isEditImage; else image">
    <img-cropper [image]="data" [settings]="cropperSettings"></img-cropper><br>
    <button (click)="isEditImage = false; uploadSingle()">save</button>
    <button (click)="this.data.image =''; isEditImage = false">cancel</button>

  </div>
</div>


<ng-template #image>
  <img class="rounded-circle" style="height: 128px; width:128px;" [src]="data && data.image ? data.image : 'assets/img/128x128.png'" alt="">
  <button (click)="isEditImage = true">change image</button>
</ng-template>



<!--<div *ngIf="currentUpload">-->
  <!--<div class="progress">-->
    <!--<div class="progress-bar progress-bar-animated" [ngStyle]="{ 'width': currentUpload?.progress + '%' }"></div>-->
  <!--</div>-->
  <!--Progress: {{currentUpload?.name}} | {{currentUpload?.progress}}% Complete-->
<!--</div>-->
<!--<label>-->
  <!--<input type="file" (change)="detectFiles($event)" accept="image/*">-->
<!--</label>-->
<!--<button-->
  <!--[disabled]="!selectedFiles"-->
  <!--(click)="uploadSingle()">-->
  <!--Upload Single-->
<!--</button>-->
<!--<div id="img-input">-->
  <!--<ng2-file-input [browse-text]="' '" [drop-text] ="'drop img'" [accept]="'image/*'"></ng2-file-input>-->
<!--</div>-->

<!--<img *ngIf="currentUser?.photoURL" [src]="currentUser?.photoURL">-->



