<nav class="navbar navbar-expand-md bg-primary navbar-dark">
  <div class="container">
    <a class="navbar-brand">Shake</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbar2SupportedContent" aria-controls="navbar2SupportedContent" aria-expanded="false"
            aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse text-center justify-content-end" id="navbar2SupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item" *ngIf="!currentUser" (click)="login()">
          <a class="nav-link"> Login</a>
        </li>
        <li class="nav-item" *ngIf="currentUser" (click)="logout()">
          <a class="nav-link"> Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="py-5 gradient-overlay"
     style="background-image: url(&quot;https://pingendo.github.io/templates/sections/assets/cover_event.jpg&quot;);">
  <div class="container py-5">
    <div class="row">
      <div class="col-md-3 text-white">
        <img class="d-block mb-5 m-4 img-fluid" src=""></div>
      <div class="col-md-9 text-white align-self-center">
        <h1 class="display-3 mb-4">Shake</h1>
        <p class="lead mb-5">We make organizations organized
          <br></p>
        <h4 *ngIf="!currentUser">Please login / sign-in to create an new organization</h4>
        <h3 *ngIf="currentUser && !currentUser.emailVerified ">You need to verify your account</h3>
        <a *ngIf="currentUser && currentUser.emailVerified " class="btn btn-lg btn-primary mx-1"
           (click)="addOrganization()">Create new organization</a>
      </div>
    </div>
  </div>
</div>
<div class="py-5 bg-light">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <h1 class="mb-4 text-primary">Benefits and features</h1>
        <p class="lead">Design unique interfaces by customizing Bootstrap theme with Pingendo.
          <br>Modify colors, fonts and grid setting without opening any CSS file.</p>
        <div class="row text-left mt-5">
          <div class="col-md-4 my-3">
            <div class="row mb-3">
              <div class="text-center col-2"><i class="d-block mx-auto fa fa-3x fa-mars"></i></div>
              <div class="align-self-center col-10">
                <h5 class="text-secondary"><b>For him</b></h5>
              </div>
            </div>
            <p>Based on fluid design principles. Works with screen resolution. &nbsp;In-app chat panel 24/7 active. The
              support you need, right there.</p>
          </div>
          <div class="col-md-4 my-3">
            <div class="row mb-3">
              <div class="text-center col-2"><i class="d-block mx-auto fa fa-3x fa-venus"></i></div>
              <div class="align-self-center col-10">
                <h5 class="text-secondary"><b>For her</b></h5>
              </div>
            </div>
            <p>Help us spreading the word. Tell your friends with just one-click.&nbsp;Work simultaneously on different
              panels with the switcher</p>
          </div>
          <div class="col-md-4 my-3">
            <div class="row mb-3">
              <div class="text-center col-2"><i class="d-block mx-auto fa fa-3x fa-neuter"></i></div>
              <div class="align-self-center col-10">
                <h5 class="text-secondary"><b>For its</b></h5>
              </div>
            </div>
            <p>You are working with plain HTML and SASS files on your computer, so extending and integrating Javascript
              is a breeze.</p>
          </div>
          <div class="col-md-4 my-3">
            <div class="row mb-3">
              <div class="text-center col-2"><i class="d-block mx-auto fa fa-3x fa-mars-stroke"></i></div>
              <div class="align-self-center col-10">
                <h5 class="text-secondary"><b>For anyone</b></h5>
              </div>
            </div>
            <p>Based on fluid design principles. Works with screen resolution.&nbsp;Choose settings depending on the
              criteria you value the most.</p>
          </div>
          <div class="col-md-4 my-3">
            <div class="row mb-3">
              <div class="text-center col-2"><i class="d-block mx-auto fa fa-3x fa-mars-double"></i></div>
              <div class="align-self-center col-10">
                <h5 class="text-secondary"><b>Even couples</b></h5>
              </div>
            </div>
            <p>In-app chat panel 24/7 active. The support you need, right there. Pingendo enhance the battery duration
              and the quality of your life.&nbsp;</p>
          </div>
          <div class="col-md-4 my-3">
            <div class="row mb-3">
              <div class="text-center col-2"><i class="d-block mx-auto fa fa-3x fa-genderless"></i></div>
              <div class="align-self-center col-10">
                <h5 class="text-secondary"><b>Any other?</b></h5>
              </div>
            </div>
            <p>Help us spreading the word. Tell your friends with just one-click.&nbsp;Work simultaneously on different
              panels. Share the work with teammates.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="py-5 text-center bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Testimonials columns</h1>
        <p class="lead">We grow together with the community</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 p-4">
        <img class="img-fluid d-block rounded-circle mx-auto"
             src="https://pingendo.github.io/templates/sections/assets/test_meow.jpg">
        <p class="my-4"><i>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
          Aenean massa.</i></p>
        <p><b>Meow</b>
          <br>Senior developer</p>
      </div>
      <div class="col-md-4 p-4">
        <img class="img-fluid d-block rounded-circle mx-auto"
             src="https://pingendo.github.io/templates/sections/assets/test_fish.jpg">
        <p class="my-4"><i>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec
          quam felis, ultricies nec. </i></p>
        <p><b>J. L. Fish</b>
          <br>UI designer</p>
      </div>
      <div class="col-md-4 p-4">
        <img class="img-fluid d-block rounded-circle mx-auto"
             src="https://pingendo.github.io/templates/sections/assets/test_carlito.jpg">
        <p class="my-4"><i>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Cum sociis natoque
          penatibus et magnis dis parturient montes.</i></p>
        <p><b>Carlito</b>
          <br>Boss</p>
      </div>
    </div>
  </div>
</div>

