
.page-wrap {
  height: 100vh;
  max-width: 1920px;
  margin: auto;
  //overflow: hidden;
}

h3, h4, h5 {
  margin-bottom: 30px;
  color: #0074d9;
}

#logo {
  position: relative;
  width: 50%;
  left: 25%;
}

.fill-remaining-space {

  flex: 1 1 auto;
}

.bg-testimonial {
  background-color: #b9b9b9;
}
