<div id="wrapper">

  <mat-card *ngIf="afterTimeDelay && !inviteRoute &&  (uid && !currentOrgUser)" fxLayout="column" fxLayoutAlign="center">
    <div class="text-center">
      {{ 'TXT_org_join_message' | translate }}
    </div>
    <button mat-raised-button color="primary" (click)="join()" [innerHTML]="'Join' | translate"> Join</button>
  </mat-card>

  <mat-card *ngIf="currentOrgUser?.isPending" fxLayout="column" fxLayoutAlign="center">
    <div class="text-center">
      {{ 'TXT_org_join_pending' | translate }}
    </div>
  </mat-card>

  <mat-card *ngIf="inviteRoute" fxLayout="column" fxLayoutAlign="center">
    <div class="text-center">
      {{ 'TXT_org_invited_join' | translate }}
    </div>
  </mat-card>
</div>


