<div class="wrapper">

  <!-- HEADER -->
  <div class="header" fxLayout="row" fxLayoutAlign="space-between center">

    <!-- Signature Required -->
    <button *ngIf="signatureRequired" mat-button class="rightside-buttons mat-icon-button" (click)="signDocument()">
      <mat-icon>fingerprint</mat-icon>
    </button>

    <!-- NUMBERING BUTTON-->
    <button mat-button class="rightside-buttons mat-icon-button" (click)="toggleNumbering()">
      <mat-icon>format_list_numbered</mat-icon>
    </button>


    <!-- EDIT BUTTON -->

    <button *ngIf="currentOrgUser?.roles.editor" mat-button class="rightside-buttons mat-icon-button" (click)="gotoEdit()">
      <mat-icon>edit</mat-icon>
    </button>

    <span class="fillsapce"></span>

    <p>{{docVersiontitle}}</p>

    <button mat-button class="back-button mat-icon-button" (click)="goToOrgHome()">
      <mat-icon>home</mat-icon>
    </button>









  </div>

  <!-- DOC VIEWER-->
  <sk-doc-viewer [docJson]="currentEditData?.data" [isRTL]="rtl" [isNumbering]="isNumbering"></sk-doc-viewer>
</div>
