<div class="wrapper">

  <!-- HEADER -->
  <div class="header" fxLayout="row" fxLayoutAlign="space-between center">

    <!-- Signature Required -->
    <button *ngIf="docAckId" mat-button class="rightside-buttons mat-icon-button" (click)="signDocument()"
      matTooltip="{{'Sign Document Read' | translate}}" matTooltipPosition="after">
      <mat-icon>fingerprint</mat-icon>
    </button>

    <!-- NUMBERING BUTTON-->
    <button mat-button class="rightside-buttons mat-icon-button" (click)="toggleNumbering()"
      matTooltip="{{'Numbering' | translate}}" matTooltipPosition="after">
      <mat-icon>format_list_numbered</mat-icon>
    </button>

    <!-- Taskview BUTTON-->
    <button mat-button class="rightside-buttons mat-icon-button" (click)="toggleTaskView()"
            matTooltip="{{'Section View' | translate}}" matTooltipPosition="after">
    <mat-icon>dns</mat-icon>
    </button>

    <!-- EDIT BUTTON -->

    <button *ngIf="currentOrgUser?.roles.editor" mat-button class="rightside-buttons mat-icon-button" (click)="gotoEdit()"
            matTooltip="{{'Edit' | translate}}" matTooltipPosition="after">
    <mat-icon>edit</mat-icon>
    </button>

    <!-- SEARCH BUTTON -->
    <button  mat-button class="rightside-buttons mat-icon-button" (click)="toggleSearch()"
            matTooltip="{{'Search' | translate}}" matTooltipPosition="after">
      <mat-icon>search</mat-icon>
    </button>

    <!-- SEARCH input -->
    <input *ngIf="isSearch" [(ngModel)]="searchPhrase">

    <span class="fillsapce"></span>

    <p>{{docVersiontitle}}</p>

    <button mat-button class="back-button mat-icon-button" (click)="goToOrgHome()">
      <mat-icon>home</mat-icon>
    </button>

  </div>

  <!-- DOC VIEWER-->
  <sk-doc-viewer *ngIf="!isTaskView" [isSearch]="isSearch" [searchPhrase]="searchPhrase" [docJson]="currentEditData?.data" [isRTL]="rtl" [isNumbering]="isNumbering"></sk-doc-viewer>
  <sk-task-viewer *ngIf="isTaskView" [docJson]="currentEditData?.data" [isRTL]="rtl" [isNumbering]="isNumbering"></sk-task-viewer>
</div>
