<div [ngClass]="'wrapper-small'" [ngClass.gt-xs]="'wrapper-big'">

  <!-- HEADER -->
  <div [ngClass]="'header-small'" [ngClass.gt-xs]="'header-big'" fxLayout="column" fxLayout.gt-xs="row"
       fxLayoutAlign="start center" fxLayoutAlign.gt-xs="start center">

    <!--BUTTONS SECTION-->
    <div [ngClass.xs]="'header-section-small'" fxLayout="row" fxLayoutAlign="start center"
         fxFlexOrder="2" fxFlexOrder.gt-xs="1">

      <!-- EDIT BUTTON -->
      <button *ngIf="currentOrgUser?.roles.editor" mat-button class="rightside-buttons mat-icon-button" (click)="gotoEdit()"
              matTooltip="{{'Edit' | translate}}" matTooltipPosition="above">
        <mat-icon>edit</mat-icon>
      </button>


      <!-- Signature Required -->
      <button *ngIf="docAckId" mat-button class="rightside-buttons mat-icon-button" (click)="signDocument()"
              matTooltip="{{'Sign Document Read' | translate}}" matTooltipPosition="above">
        <mat-icon>fingerprint</mat-icon>
      </button>

      <!-- MAP BUTTON-->
      <button #mapButton mat-button class="rightside-buttons mat-icon-button" (click)="toggleMapView()"
              matTooltip="{{'Doc Map' | translate}}" matTooltipPosition="above">
        <mat-icon>language</mat-icon>
      </button>

      <!-- NUMBERING BUTTON-->
      <button mat-button class="rightside-buttons mat-icon-button" (click)="toggleNumbering()"
              matTooltip="{{'Numbering' | translate}}" matTooltipPosition="above">
        <mat-icon>format_list_numbered</mat-icon>
      </button>

      <!-- Taskview BUTTON-->
      <button mat-button class="rightside-buttons mat-icon-button" (click)="toggleSectionView()"
              matTooltip="{{'Section View' | translate}}" matTooltipPosition="above">
        <mat-icon>view_headline</mat-icon>
      </button>

      <!-- SEARCH BUTTON -->
      <button *ngIf="!isTaskView"  mat-button class="rightside-buttons mat-icon-button" (click)="toggleSearch()"
              matTooltip="{{'Search' | translate}}" matTooltipPosition="above">
        <mat-icon>search</mat-icon>
      </button>

    </div>


    <!--SEARCH SECTION-->
    <div *ngIf="isSearch && !isTaskView" [ngClass.xs]="'header-section-small'" fxLayout="row" fxLayoutAlign="start center"
         fxFlexOrder="3" fxFlexOrder.gt-xs="2">

      <!-- SEARCH input -->
      <input *ngIf="isSearch && !isTaskView" [(ngModel)]="searchPhrase" style="-webkit-margin-start: 20px">

    </div>

    <span fxHide.xs fxFlexOrder.gt-xs="3" class="fillsapce"></span>

    <!--DOC PROPERTIES SECTION-->
    <div [ngClass.lt-sm]="'header-section-small'" fxLayout="row" fxLayoutAlign="end center"
         fxFlexOrder="1" fxFlexOrder.gt-xs="4">

    <p id="doc-name" [innerHTML]="docName"></p>

      <p id="doc-version">{{docVersionTitle | translate}} {{docVersionNumber}}</p>

      <button mat-button class="back-button mat-icon-button" (click)="goToOrgHome()">
        <mat-icon>home</mat-icon>
      </button>
    </div>


  </div>

  <!-- DOC VIEWER-->
  <sk-doc-viewer *ngIf="!isTaskView" [isSearch]="isSearch" [searchPhrase]="searchPhrase" [docJson]="currentEditData?.data"
                 [isRTL]="rtl" [isNumbering]="isNumbering" [isDocMap]="isDocMap">
  </sk-doc-viewer>
  <sk-task-viewer *ngIf="isTaskView" [docJson]="currentEditData?.data" [isRTL]="rtl" [isNumbering]="isNumbering" [isDocMap]="isDocMap"></sk-task-viewer>
</div>
