<div fxLayout="column">
  <mat-card *ngIf="!newDocAck" fxFlex="1 1 100%">
    <form [formGroup]="docAckForm">

      <div fxLayout="row">

        <div fxLayout="column" fxFlex="1 1 34%">

          <mat-form-field>
            <input matInput type="text" id="name" [(ngModel)]="docAckName"
                   formControlName="name" placeholder="{{'Name' | translate}}">
          </mat-form-field>
          <button *ngIf="currentDocAck && currentDocAck.name !== docAckName" mat-button color="primary"
                  (click)="nameUpdateClicked()"
          >Update</button>
          <button *ngIf="currentDocAck && currentDocAck.name !== docAckName" mat-button color="primary"
                  (click)="nameUpdateCanceled()"
          >Cancel</button>

          <mat-form-field>
            <input matInput type="text" id="docName" [(ngModel)]="docName"
                   formControlName="docName" placeholder="{{'Document Name' | translate}}">
          </mat-form-field>

        </div>

        <div fxLayout="column" fxFlex="1 1 33%">
          <mat-checkbox
            (change)="isActiveChanged($event)">
            <!--[checked]="element.isActive">-->
            {{'Active Read & Sign' | translate}}
          </mat-checkbox>

          <mat-form-field>
            <input matInput type="text" id="dateCreated" [ngModel]="dateCreated "
                   formControlName="dateCreated" placeholder="{{'Date Created' | translate}}">
          </mat-form-field>
        </div>

        <div fxLayout="column" fxFlex="1 1 33%">

          <mat-form-field>
            <input matInput type="number" id="requiredSignatures" [(ngModel)]="docAckRequiredSignatures"
                   formControlName="requiredSignatures" placeholder="{{'Required Signatures' | translate}}">
          </mat-form-field>

          <mat-form-field>
            <input matInput type="number" id="actualSignatures" [(ngModel)]="docAckActualSignatures"
                   formControlName="actualSignatures" placeholder="{{'Actual Signatures' | translate}}">
          </mat-form-field>

        </div>


      </div>


    </form>
  </mat-card>

  <div  fxLayout="row">

    <mat-card  fxFlex="1 1 30%">
      <div *ngIf="docAckEditable || newDocAck">
        <div *ngIf="newDocAck">
          select doc for Read & Acknowledge
        </div>
        <h4> Temp implementation</h4>
        <ul>
          <li *ngFor="let doc of docs" (click)="docSelected(doc)">
            {{doc.name}}
          </li>
        </ul>
      </div>
    </mat-card>

    <mat-card fxFlex="1 1 70%">
      <div *ngIf="!newDocAck" class="org-users-container mat-elevation-z8">

        <mat-table #table class="org-users-table" [dataSource]="orgUsersDocAckSource">

          <ng-container matColumnDef="isRequired">
              <mat-header-cell *matHeaderCellDef> {{'Signature Required' | translate}} </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <mat-checkbox [checked]="element.isRequired"
                            [disabled]="element.hasSigned"
                            (change) = "isRequiredClicked(element.id, $event)" >
              </mat-checkbox>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="photo">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let element"> <img *ngIf="element.photoURL"
                                                      class="user-img rounded-circle img-fluid" [src]="element.photoURL" alt=""> </mat-cell>
          </ng-container>

          <ng-container matColumnDef="displayName">
            <mat-header-cell *matHeaderCellDef> {{'Display Name' | translate}} </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.displayName}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="hasSigned">
            <mat-header-cell *matHeaderCellDef> {{'Has Signed' | translate}}</mat-header-cell>
            <mat-cell *matCellDef="let element">
              <mat-checkbox [checked]="element.hasSigned"
                            disabled="true" >
              </mat-checkbox>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="signedAt">
            <mat-header-cell *matHeaderCellDef> {{'Signature Date' | translate}} </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.signedAt | date}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="Debug">
            <mat-header-cell *matHeaderCellDef> Debug</mat-header-cell>
            <mat-cell  *matCellDef="let element">
              <button mat-button="" color="primary"
                      (click)="sign(element.id)">
                sign</button>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="orgUsersDocAckDisplayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: orgUsersDocAckDisplayedColumns;"></mat-row>
        </mat-table>
      </div>
    </mat-card>
  </div>
</div>




