<div fxLayout="column" [ngClass]="'table-page-small'" [ngClass.gt-sm]="'table-page-big'">

  <mat-card fxFlex="1 1 100%">

    <h1 > {{ 'Read & Acknowledge Edit' | translate}}</h1>
    <form [formGroup]="docAckForm">

      <div class="first-row" fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign="center center" fxLayoutAlign.gt-xs="space-evenly">
        <div>
          <mat-form-field>
            <input matInput type="text" id="name" [(ngModel)]="docAckName"
                   formControlName="name" placeholder="{{'Name' | translate}}">
          </mat-form-field>
          <div>
            <button *ngIf="currentDocAck && currentDocAck.name !== docAckName" mat-button color="primary"
                    (click)="nameUpdateClicked()">
              {{'Update' | translate}}
            </button>
            <button *ngIf="currentDocAck && currentDocAck.name !== docAckName" mat-button color="primary"
                    (click)="nameUpdateCanceled()">
              {{'Cancel' | translate}}
            </button>
          </div>
        </div>

        <div>
          <mat-form-field>
            <input matInput type="text" id="docName" [(ngModel)]="docName"
                   formControlName="docName" placeholder="{{'Document Name' | translate}}">
          </mat-form-field>
        </div>

        <div>
          <mat-form-field>
            <input matInput type="text" id="dateCreated" [ngModel]="dateCreated "
                   formControlName="dateCreated" placeholder="{{'Date Created' | translate}}">
          </mat-form-field>
        </div>
      </div>


    </form>
  </mat-card>

  <div  fxLayout="row">

    <mat-card fxFlex="auto">

      <!--<div class="second-row" fxLayout="row" fxLayoutAlign="start">-->
        <!--<button mat-raised-button class="icon-button"  (click)="selectAllClicked()"-->
          <!--matTooltip="{{'Require All' | translate}}">-->
          <!--<i class="fa fa-check-square"></i>-->
        <!--</button>-->
        <!--<button mat-raised-button class="icon-button" (click)="deSelectAllClicked()"-->
                <!--matTooltip="{{'Require None' | translate}}">-->

        <!--<i class="fa fa-minus-square"></i>-->
        <!--</button>-->
      <!--</div>-->

      <div class="org-users-container mat-elevation-z8">

        <div [ngClass]="'second-row-small'" [ngClass.gt-sm]="'second-row-big'" fxLayout="row" fxLayoutAlign="start">
          <button mat-raised-button class="icon-button"  (click)="selectAllClicked()"
                  matTooltip="{{'Require All' | translate}}">
            <i class="fa fa-check-square"></i>
          </button>
          <button mat-raised-button class="icon-button" (click)="deSelectAllClicked()"
                  matTooltip="{{'Require None' | translate}}">

            <i class="fa fa-minus-square"></i>
          </button>
        </div>

        <mat-table #table class="org-users-table" [dataSource]="orgUsersDocAckSource">

          <ng-container matColumnDef="isRequired">
            <mat-header-cell *matHeaderCellDef fxLayout="column">
              {{'Signature Required' | translate}}
              <!--<mat-checkbox (change)="selectAllClicked($event)"></mat-checkbox>-->
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <mat-checkbox [checked]="element.isRequired"
                            [disabled]="element.hasSigned"
                            (change) = "isRequiredClicked(element.id, element.displayName, $event)" >
              </mat-checkbox>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="photo">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let element"> <img *ngIf="element.photoURL"
                    [ngClass]="'user-img-small rounded-circle img-fluid'" [ngClass.gt-sm]="'user-img-big rounded-circle img-fluid'"
                     [src]="element.photoURL" alt=""> </mat-cell>
          </ng-container>

          <ng-container matColumnDef="displayName">
            <mat-header-cell *matHeaderCellDef> {{'Display Name' | translate}} </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.displayName}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="hasSigned">
            <mat-header-cell *matHeaderCellDef> {{'Has Signed' | translate}}</mat-header-cell>
            <mat-cell *matCellDef="let element">
              <mat-checkbox [checked]="element.hasSigned"
                            disabled="true" >
              </mat-checkbox>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="signedAt">
            <mat-header-cell *matHeaderCellDef> {{'Signature Date' | translate}} </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.signedAt | date}} </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="orgUsersDocAckDisplayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: orgUsersDocAckDisplayedColumns;"></mat-row>
        </mat-table>
      </div>
    </mat-card>
  </div>
</div>





