.wrapper {
  position: relative;
  margin: 3% auto;
  max-width: 500px;
}

.user-table {
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
  width: 500px;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}


button:focus {outline:0;}
