//.wrapper {
//  position: relative;
//  margin: 3% auto;
//  min-width: 500px;
//  max-width: 800px;
//}
//#header{
//  margin-bottom: 20px;
//}
//.user-table {
//  margin: 10px auto;
//  display: flex;
//  flex-direction: column;
//  max-height: 500px;
//  min-width: 300px;
//  width: 500px;
//}

.mat-table {
  overflow: auto;
  //max-height: 500px;
}


button:focus {outline:0;}

.org-users-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
}

.org-users-table {
  overflow: auto;
  max-height: 500px;
}

.user-img {
  height: auto;
  width: 36px;

}
