<!-- User drop down - English-->
<div *ngIf="currentLng === 'en'">
  <div class="btn-group" dropdown *ngIf="currentAuthUser">
    <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
      <i *ngIf="!currentSkUser || !currentSkUser.photoURL || currentSkUser.photoURL === ''"
         class="fa fa-user-circle"></i>
      <img class="rounded-circle userImg"
           *ngIf="currentSkUser && currentSkUser.photoURL != ''"
           [src]="currentSkUser?.photoURL" alt="">
      <span class="caret"></span>
    </button>

    <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">
      <li role="menuitem" [routerLink]="'user-profile'"><a class="dropdown-item">Profile</a></li>
      <li class="divider dropdown-divider"></li>
      <li role="menuitem"><a class="dropdown-item" (click)="logout()">Log out</a></li>
      <li class="divider dropdown-divider"></li>
      <li class="dropdown-header">My organisations</li>
      <li class="dropdown-item" *ngFor="let org of myOrgs" (click)="orgClicked(org.id)">{{org.name}}</li>
    </ul>
  </div>
</div>

<!-- User drop down - Hebrew-->
<div *ngIf="currentLng === 'he'">
  <div class="btn-group" dropdown *ngIf="currentAuthUser">
    <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
      <i *ngIf="!currentSkUser || !currentSkUser.photoURL || currentSkUser.photoURL === ''"
         class="fa fa-user-circle"></i>
      <img class="rounded-circle userImg"
           *ngIf="currentSkUser && currentSkUser.photoURL != ''"
           [src]="currentSkUser?.photoURL" alt="">
      <span class="caret"></span>
    </button>
    <ul *dropdownMenu class="dropdown-menu dropdown-menu-left" role="menu">
      <li role="menuitem" [routerLink]="'user-profile'"><a class="dropdown-item">Profile</a></li>
      <li class="divider dropdown-divider"></li>
      <li role="menuitem"><a class="dropdown-item" (click)="logout()">Log out</a></li>
      <li class="divider dropdown-divider"></li>
      <li class="dropdown-header">My organisations</li>
      <li class="dropdown-item" *ngFor="let org of myOrgs" (click)="orgClicked(org.id)">{{org.name}}</li>
    </ul>
  </div>

</div>

