<div *ngIf="currentAuthUser">
  <button [dir]="myDir" mat-button [matMenuTriggerFor]="menu"  >
    <i *ngIf="!currentSkUser || !currentSkUser.photoURL || currentSkUser.photoURL === ''"
       class="fa fa-user-circle"></i>
    <img class="rounded-circle userImg"
         *ngIf="currentSkUser && currentSkUser.photoURL"
         [src]="currentSkUser?.photoURL" alt="">
    <span class="fa fa-caret-down"></span>
  </button>

  <mat-menu  #menu="matMenu" [overlapTrigger]="false">
    <button mat-menu-item [routerLink]="'user-profile'" [innerHTML]="'User Profile' | translate"></button>
    <button mat-menu-item (click)="logout()" [innerHTML]="'Logout' | translate"></button>
    <hr>
    <div mat-menu-item class="menu-header" disabled [innerHTML]="'My Organizations' | translate"></div>
    <button mat-menu-item *ngFor="let org of myOrgs" (click)="orgClicked(org.id)">{{org.name}}</button>
  </mat-menu>
</div>




