.userImg {
  width:40px;
  height: 40px;
}

.dropdown-menu li:hover {
  cursor: pointer;
}

.menu-header {
  color: black;
  text-decoration: underline;
}
.menu-header {

}

#orgname {
    height: 25px;
    line-height: 25px;
  }


hr {
  margin: 2px 0;
}
