/* You can add global styles to this file, and also import other style files */
@import 'theme';
@import '../node_modules/font-awesome/css/font-awesome.css';
@import '../node_modules/bootstrap/scss/bootstrap';
@import "../node_modules/ng2-file-input/ng2-file-input.scss";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

// fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:300');
@import url('https://fonts.googleapis.com/css?family=Rubik&subset=hebrew');
// tree
@import '~angular-tree-component/dist/angular-tree-component.css';

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;

  background-color: #fafafa ;

}

.loading {
  opacity: 0;
  position: fixed;
  height: 100%;
  width: 100%;
  background: lightsalmon;
  padding-top: 25vh;
  text-align: center;
  z-index: -1;
  transition: opacity .8s ease-out;
}

app-root:empty + .loading {
  opacity: 1;
  z-index: 100;

  h1 {
    color: #EEE;
    margin-bottom: 50px;
  }

}

.spinner {
  width: 40px;
  height: 40px;
  background-color: #333;

  margin: 100px auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% {
    -webkit-transform: perspective(120px)
  }
  50% {
    -webkit-transform: perspective(120px) rotateY(180deg)
  }
  100% {
    -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg)
  }
}

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
  }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
  }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

// global
.error-message {
  font-size: smaller;
  color: darkred;
}

p {
  margin-bottom: 5px;
}


ul, ol {
  -webkit-padding-start: 20px;
}

.toastSuccess {
  background-color: green;
  color: white;
}

.toastInfo {
  background-color: dodgerblue;
  color: white;
}

.toastError {
  background-color: darkred;
  color: white;
}

th, td {
  border: 1px solid black;
}

