/* You can add global styles to this file, and also import other style files */
@import 'theme';
@import '../node_modules/font-awesome/css/font-awesome.css';
@import '../node_modules/bootstrap/scss/bootstrap';
@import "../node_modules/ng2-file-input/ng2-file-input.scss";
//@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~@angular/material/theming';

// tree
@import '~angular-tree-component/dist/angular-tree-component.css';





@include mat-core();

$mat-prime: (
  100: #5299b9,
  500: #176b89,
  700: #00405c,
  contrast: (
    100: black,
    500: white,
    700: white
  )
);

$mat-secondary: (
  100: #ba4db2,
  500: #871782,
  700: #560055,
  contrast: (
    100: black,
    500: white,
    700: white
  )
);
$shake-app-primary: mat-palette($mat-prime);
//$shake-app-accent:  mat-palette($mat-pink, A200, A100, A400);
$shake-app-accent:  mat-palette($mat-secondary);

// The warn palette is optional (defaults to red).
$shake-app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$shake-app-theme: mat-light-theme($shake-app-primary, $shake-app-accent, $shake-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($shake-app-theme);

$global-typography: mat-typography-config(
  $font-family: 'Rubik'
);

@include angular-material-typography($global-typography);

@-webkit-keyframes sk-rotateplane {
  0% {
    -webkit-transform: perspective(120px)
  }
  50% {
    -webkit-transform: perspective(120px) rotateY(180deg)
  }
  100% {
    -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg)
  }
}

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
  }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
  }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

// global

body {
  font-family: 'Rubik', sans-serif;
  margin: 0;

  background-color: #fafafa ;
  color: #424242;
}

h1 {
  font-family: 'Rubik', sans-serif;
  font-size: 2em;
}

h2 {
  font-family: 'Rubik', sans-serif;
  font-size: 1.5em;
}

h3 {
  font-family: 'Rubik', sans-serif;
  font-size: 1.17em;
}

p {
  margin-bottom: 5px;
}


ul, ol {
  -webkit-padding-start: 20px;
}

th, td {
  border: 1px solid black;
}

.he {
  direction: rtl;
  text-align: right;
}

.en {
  direction: ltr;
}

.error-message {
  font-size: smaller;
  color: darkred;
}


// for pages based on mat-card

.card-page-background {
  background: linear-gradient(to bottom left, #5299b9 0%, #5299b9 40%, white 40%, white 100%);
  display: inline-block;
  width: 100%;
  height: 100%;
  margin: 0;
}

.page-card-big {
  width: 800px;
  height: 600px;

}

.page-card-small {
  width: 90%;
  height: 950px;
  margin-top: 25px;

}
.page-card-header {
  justify-content: center;
}

.card-panel-big {
  width: 40%;
  height: 500px;
}

.card-panel-small {
  width: 100%;
  height:  460px;
}


.btn-hover-accent:hover:enabled {
  background-color: #871782;
  color: white;
}



.toastSuccess {
  background-color: green;
  color: white;
}

.toastInfo {
  background-color: dodgerblue;
  color: white;
}

.toastError {
  background-color: darkred;
  color: white;
}

