<button mat-raised-button color="primary" (click)="addNew()">Add New</button>
<div class="example-container mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="weight">
      <mat-header-cell *matHeaderCellDef> Weight </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.weight}} </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="symbol">
      <mat-header-cell *matHeaderCellDef> Symbol </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.symbol}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>


<!--<mat-card class="new-invite">-->
  <!--<mat-card-title>-->
    <!--New User Invite-->
    <!--<button mat-raised-button color="primary" (click)="addToList()">Add to Invite List</button>-->

  <!--</mat-card-title>-->
  <!--<form>-->
    <!--<mat-form-field >-->
      <!--<input matInput placeholder="name" name="displayName" [(ngModel)]="newInvite.displayName">-->
    <!--</mat-form-field>-->

    <!--<mat-form-field >-->
      <!--<input matInput name="email" [(ngModel)]="newInvite.email" type="email" placeholder="email">-->
    <!--</mat-form-field>-->

    <!--<mat-checkbox name="isAdmin" [(ngModel)]="newInvite.isAdmin">Admin</mat-checkbox>-->
    <!--<mat-checkbox name="isEditor" [(ngModel)]="newInvite.isEditor">Editor</mat-checkbox>-->
    <!--<mat-checkbox name="isViewer" [(ngModel)]="newInvite.isViewer">Viewer</mat-checkbox>-->

  <!--</form>-->
<!--</mat-card>-->

<!--<mat-card class="invite-list">-->
  <!--<mat-card-title>-->
    <!--Invite List-->
    <!--<button mat-raised-button color="primary" (click)="invite()">Invite users in list</button>-->
  <!--</mat-card-title>-->

  <!--<ul>-->
    <!--<li *ngFor="let record of invites">-->
      <!--{{ record.displayName}}-->
      <!--{{ record.email }}-->
    <!--</li>-->
  <!--</ul>-->
<!--</mat-card>-->
