<!-- Admin drop down-->
<div *ngIf="!rtl">
  <div class="btn-group" dropdown
       *ngIf="isSkAdmin  || isSkEditor">
    <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
      <i class="fa fa-gear"></i> <span class="caret"></span>
    </button>

    <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">
      <li role="menuitem" *ngIf="isSkAdmin" [routerLink]="['/admin/admin-orgs']"><a class="dropdown-item">Organizations management</a></li>
      <li role="menuitem" *ngIf="isSkAdmin" [routerLink]="['/admin/admin-users']"><a class="dropdown-item">Users management</a></li>
      <li role="menuitem" *ngIf="isSkEditor" [routerLink]="['']"><a class="dropdown-item">Data Packages Editor</a></li>

    </ul>
  </div>
</div>

<div *ngIf="rtl">
  <div class="btn-group" dropdown
       *ngIf="isSkAdmin  || isSkEditor">
    <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
      <i class="fa fa-gear"></i> <span class="caret"></span>
    </button>

    <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">
      <li role="menuitem" *ngIf="isSkAdmin" [routerLink]="['/admin/admin-orgs']"><a class="dropdown-item">Organizations management</a></li>
      <li role="menuitem" *ngIf="isSkAdmin" [routerLink]="['/admin/admin-users']"><a class="dropdown-item">Users management</a></li>
      <li role="menuitem" *ngIf="isSkEditor" [routerLink]="['']"><a class="dropdown-item">Data Packages Editor</a></li>

    </ul>
  </div>
</div>

