<button mat-button [matMenuTriggerFor]="menu" *ngIf="isSkAdmin  || isSkEditor">
  <i class="fa fa-gear"></i> <span class="fa fa-caret-down"></span>
</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item *ngIf="isSkAdmin" [routerLink]="['/admin/admin-orgs']">Organizations management</button>
  <button mat-menu-item *ngIf="isSkAdmin" [routerLink]="['/admin/admin-users']">Users management</button>
  <button mat-menu-item  *ngIf="isSkEditor" [routerLink]="['']">Data Packages Editor</button>
</mat-menu>





